<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">

    <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
    <resultMap id="MemberMap"
        type="kr.co.wesellglobal.sellermatch.model.MemberDto">
        <result property="memIdx"   column="mem_idx" />
        <result property="memId"     column="mem_id" />
        <result property="memPw"   column="mem_pw" />
        <result property="memState" column="mem_state" />
        <result property="memClass" column="mem_class" />
        <result property="memClassSdate" column="mem_class_sdate" />
        <result property="memClassEdate" column="mem_class_edate" />
        <result property="memSort" column="mem_sort" />
        <result property="memCountry" column="mem_country" />
        <result property="memNation" column="mem_nation" />
        <result property="memAddr" column="mem_addr" />
        <result property="memAddr2" column="mem_addr2" />
        <result property="memPost" column="mem_post" />
        <result property="memTel" column="mem_tel" />
        <result property="memName" column="mem_name" />
        <result property="memRname" column="mem_rname" />
        <result property="memNick" column="mem_nick" />
        <result property="memPhoto" column="mem_photo" />
        <result property="memIp" column="mem_ip" />
        <result property="memLoginDate" column="mem_login_date" />
        <result property="memOutDate" column="mem_out_date" />
        <result property="memDate" column="mem_date" />
        <result property="memEditDate" column="mem_edit_date" />
        <result property="projAddCount" column="proj_add_count" />
        <result property="recommendCount" column="recommend_count" />
        <result property="contractCount" column="contract_count" />
		<result property="profileGrade"   column="profile_grade" />
        <result property="profileChChk" column="profile_ch_chk" />
        <result property="profileSaleChk" column="profile_sale_chk" />
        <result property="profileBizCerti" column="profile_biz_certi" />
        <result property="existProfile" column="exist_profile" />
        <result property="memSnsCh"   column="mem_sns_ch" />
        <result property="googleId"   column="googleId" />
        <result property="naverId"   column="naverId" />
        <result property="kakaoId"   column="kakaoId" />
        <result property="withdrawAuthCode" column="WITHDRAW_AUTH_CODE" />
        <result property="withdrawAuthCode" column="WITHDRAW_IDX" />
        <result property="withdrawReason" column="WITHDRAW_REASON" />
        <result property="withdrawReasonText" column="WITHDRAW_REASON_TEXT" />
        <result property="withdrawDate" column="WITHDRAW_DATE" />
        
    </resultMap> 
    
    <insert id="insertItem"
    	parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
    	useGeneratedKeys="true"
    	keyProperty="memIdx">
    	INSERT INTO MemList
    		(`Mem_id`, `Mem_pw`, `Mem_state`, `Mem_class`, `Mem_sort`, `Mem_country`, 
    		`Mem_nation`, `Mem_addr`, `Mem_addr2`, `Mem_post`, `Mem_tel`, `Mem_name`, `Mem_rname`, `Mem_nick`, 
    		`Mem_photo`, `Mem_sns_ch`, `googleId`, `naverId`, `kakaoId`, `Mem_ip`, `Mem_date`)
    	 VALUES 
    	 	(#{memId}, md5(#{memPw}), #{memState}, #{memClass}, #{memSort}, #{memCountry}, 
    	 	#{memNation}, #{memAddr}, #{memAddr2}, #{memPost}, #{memTel}, #{memName}, #{memRname}, #{memNick}, 
    	 	#{memPhoto}, #{memSnsCh}, #{googleId}, #{naverId}, #{kakaoId}, #{memIp}, now());

    </insert>
    
    <!-- 다중행 조회를 위한 기능 정의 -->
    <select id="selectList"
    	parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
    	resultMap="MemberMap">
    	SELECT 
    		mem_idx, mem_id, mem_pw, mem_state, mem_class, mem_class_sdate, mem_class_edate,
    		mem_sort, mem_country, mem_nation, mem_addr, mem_addr2, mem_post, mem_tel,
    		mem_name, mem_rname, mem_nick, mem_photo, mem_ip, mem_login_date, mem_out_date, 
    		mem_date, mem_edit_date, mem_sns_ch
    	FROM MemList
		<where>
			<if test="memId != null and memId != ''">
				OR mem_id LIKE concat('%', #{memId}, '%')
			</if>
			<if test="memName != null and memName != ''">
				OR mem_name LIKE concat('%', #{memName}, '%')
			</if>
			<if test="memNick != null and memNick != ''">
				OR mem_nick LIKE concat('%', #{memNick}, '%')
			</if>
			<if test="memTel != null and memTel != ''">
				OR mem_tel LIKE concat('%', #{memTel}, '%')
			</if>
			<if test="memAddr != null and memAddr != ''">
				OR mem_addr LIKE concat('%', #{memAddr}, '%')
			</if>
			<if test="memAddr2 != null and memAddr2 != ''">
				OR mem_addr2 LIKE concat('%', #{memAddr2}, '%')
			</if>
			<if test="memSort != null and memSort != ''">
				AND mem_Sort = #{memSort}
			</if>
		</where>
		ORDER BY mem_date DESC
			LIMIT #{offset}, #{listCount}
    </select>
    
    <select id="selectItem"
    	parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
    	resultMap="MemberMap">
    	SELECT 
    		mem_idx, mem_id, mem_pw, mem_state, mem_class, mem_class_sdate, mem_class_edate,
    		mem_sort, mem_country, mem_nation, mem_addr, mem_addr2, mem_post, mem_tel,
    		mem_name, mem_rname, mem_nick, mem_photo, mem_ip, mem_login_date, mem_out_date, 
    		mem_date, mem_edit_date, profile_grade, profile_ch_chk, profile_sale_chk, profile_biz_certi, 
    		(select count(*) FROM ProjectList where Proj_mem_id = Profile_mem_id) as proj_add_count, 
    		(select count(*) FROM ApplyList where Apply_mem_id = Profile_mem_id and apply_type = 2) as recommend_count,
    		(select count(*) FROM ApplyList where Apply_mem_id = Profile_mem_id and apply_proj_state = 5) as contract_count
    	FROM MemList m
    	INNER JOIN ProfileList s
		ON s.profile_mem_id = m.mem_id
    	WHERE mem_id = #{memId}
    </select>
    
    <!-- 아이디 중복검사 -->
    <select id="idCheck"
    	parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
    	resultType="int">
    	SELECT COUNT(*) FROM MemList WHERE mem_id = #{memId}
    </select>
    
    <!-- 닉네임 중복검사 -->    <select id="nickCheck"
    	parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
    	resultType="int">
    	SELECT COUNT(*) FROM MemList WHERE mem_nick = #{memNick}
    </select>    

    <select id="loginSNS"
    	parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
    	resultMap="MemberMap">
    	SELECT 
    		mem_idx, mem_id, mem_pw, mem_state, mem_class, mem_class_sdate, mem_class_edate,
    		mem_sort, mem_country, mem_nation, mem_addr, mem_addr2, mem_post, mem_tel,
    		mem_name, mem_rname, mem_nick, mem_photo, mem_sns_ch, googleId, naverId, kakaoId, mem_ip, mem_login_date, mem_out_date, 
    		mem_date, mem_edit_date, 
    		(SELECT profile_indus FROM ProfileList where profile_mem_id = #{memId}) as exist_profile
    	FROM MemList WHERE mem_id = #{memId}
    </select>
	
	<update id="updateItem" parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto">
		UPDATE MemList 
		SET 
			mem_pw = IFNULL(md5(#{memPw}),mem_pw),
		    mem_sort = #{memSort},  
		    mem_country = #{memCountry}, mem_nation = #{memNation}, mem_addr = #{memAddr}, mem_addr2 = #{memAddr2}, mem_post =  #{memPost}, 
    	 	mem_tel = #{memTel}, mem_name = #{memName}, mem_rname = #{memRname}, mem_nick = #{memNick}, 
    	 	mem_class = IFNULL(#{memClass},mem_class),
    	 	mem_state = IFNULL(#{memState},mem_state),
    	 	mem_photo = IFNULL(#{memPhoto},mem_photo),
    	 	mem_edit_date = now()
		where mem_id = #{memId}
	</update>
	
		<!-- 로그인 조회 -->
	<select id="login"
		parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
		resultMap="MemberMap">
		SELECT 
			mem_idx, mem_id, mem_pw, mem_state, mem_class, mem_class_sdate, mem_class_edate,
    		mem_sort, mem_country, mem_nation, mem_addr, mem_addr2, mem_post, mem_tel,
    		mem_name, mem_rname, mem_nick, mem_photo, mem_ip, mem_login_date, mem_out_date, 
    		mem_date, mem_edit_date, 
    		(SELECT profile_indus FROM ProfileList where profile_mem_id = #{memId}) as exist_profile
		FROM MemList
		WHERE mem_id=#{memId} AND mem_pw=MD5(#{memPw})
	</select>

	<!-- 최근 로그인 시간 갱신 -->
	<update id="updateLoginDate"
		parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto">
		UPDATE MemList SET mem_login_date = now() WHERE mem_id=#{memId}
	</update>
	
	<!-- 로그인된 경우 해당 세션id와 유효시간을 사용자 테이블에 세팅한다. -->
    <update id="keepLogin"
    	parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto">
        update MemList set session_key = #{sessionKey}, session_limit = #{sessionLimit} where mem_id=#{memId}
    </update>
     
    <!-- 유효기간이 남아 있으면서 해당 sessionId를 가지는 사용자 정보를 꺼내오는 부분 -->
    <select id="checkUserWithSessionKey"
    	parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
		resultMap="MemberMap">
        select * from MemList where session_key = #{sessionKey} and session_limit > now()
    </select>
	
	<!-- 회원조회 데이터 수 조회 -->
	<select id="selectCountAll"
		parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
		resultType="int">
		SELECT COUNT(*)
		FROM MemList
		<where>
			<if test="memId != null and memId != ''">
				OR mem_id LIKE concat('%', #{memId}, '%')
			</if>
			<if test="memName != null and memName != ''">
				OR mem_name LIKE concat('%', #{memName}, '%')
			</if>
			<if test="memNick != null and memNick != ''">
				OR mem_nick LIKE concat('%', #{memNick}, '%')
			</if>
			<if test="memTel != null and memTel != ''">
				OR mem_tel LIKE concat('%', #{memTel}, '%')
			</if>
			<if test="memAddr != null and memAddr != ''">
				OR mem_addr LIKE concat('%', #{memAddr}, '%')
			</if>
			<if test="memAddr2 != null and memAddr2 != ''">
				OR mem_addr2 LIKE concat('%', #{memAddr2}, '%')
			</if>
			<if test="memSort != null and memSort != ''">
				AND mem_Sort = #{memSort}
			</if>
		</where>
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="String" resultType="java.util.HashMap">
		select mem_id from MemList where mem_tel = #{memTel} and mem_state != 1
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw" parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto">
		UPDATE MemList SET mem_pw = MD5(#{memPw}) where mem_id = #{memId} and mem_state != 1
	</update>
	
	<!-- 회원탈퇴 인증코드 업데이트 -->
	<update id="withDrawAuthCodeUpdate" parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto">
		UPDATE MemList SET WITHDRAW_AUTH_CODE = #{withdrawAuthCode}, Mem_edit_date = now() where mem_id = #{memId}
	</update>
	
	<select id="authConfirm"
    	parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
    	resultType="int">
    	SELECT COUNT(*) FROM MemList WHERE mem_id = #{memId} AND WITHDRAW_AUTH_CODE = #{withdrawAuthCode}
    </select>
    
    <!-- 회원탈퇴 업데이트 -->
	<update id="withdraw" parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto">
		UPDATE MemList SET mem_State = #{memState}, Mem_out_date = now() where mem_id = #{memId}
	</update>
	<!-- 회원탈퇴 사유 insert -->
        <insert id="insertWithdrawReason"
    	parameterType="kr.co.wesellglobal.sellermatch.model.MemberDto"
    	useGeneratedKeys="true"
    	keyProperty="withdrawIdx">
    	INSERT INTO TB_WITHDRAW_REASON
    		( `MEM_IDX`, `MEM_ID`, `WITHDRAW_REASON`, `WITHDRAW_REASON_TEXT`, `WITHDRAW_DATE` )
    	 VALUES 
    	 	(#{memIdx}, #{memId}, #{withdrawReason}, #{withdrawReasonText}, now());
    </insert>
</mapper>