<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PpProfileMapper">

    <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
    <resultMap id="PpProfileMap"
        type="kr.co.wesellglobal.sellermatch.model.PpProfileDto">
        <result property="ppIdx"   column="pp_idx" />
        <result property="ppId"   column="pp_id" />
        <result property="ppProjId"   column="pp_proj_id" />
        <result property="ppMemId"   column="pp_mem_id" />
        <result property="ppGrade"   column="pp_grade" />
        <result property="ppIntro" column="pp_intro" />
        <result property="ppNation" column="pp_nation" />
        <result property="ppBizNum" column="pp_biz_num" />
        <result property="ppBizSort" column="pp_biz_sort" />
        <result property="ppProfit" column="pp_profit" />
        <result property="ppProfitChkDate" column="pp_profit_chk_date" />
        <result property="ppBizCerti" column="pp_biz_certi" />
        <result property="ppIndus" column="pp_indus" />
        <result property="ppCh" column="pp_ch" />
        <result property="ppPhoto" column="pp_photo" />
        <result property="ppState" column="pp_state" />
        <result property="ppRegDate" column="pp_reg_date" />
        <result property="ppEditDate" column="pp_edit_date" />
        <result property="ppIndusName" column="pp_indus_name" />
        <result property="ppPhotoList" column="pp_photo_list" />
    </resultMap>
    
    <insert id="insertItem"
    	parameterType="kr.co.wesellglobal.sellermatch.model.PpProfileDto"
    	useGeneratedKeys="true"
    	keyProperty="ppIdx">
    	INSERT INTO PpProfile 
    		(`pp_id`, `pp_proj_id`, `pp_mem_id`, `pp_grade`, `pp_intro`, `pp_nation`, `pp_biz_num`, `pp_biz_sort`, `pp_profit`, 
    		`pp_profit_chk_date`, `pp_biz_certi`, `pp_indus`, `pp_ch`, `pp_photo`, `pp_state`, `pp_reg_date`, `pp_edit_date`) 
    	VALUES 
    		(#{ppId}, #{ppProjId},, #{ppMemId}, #{ppGrade}, #{ppIntro}, #{ppNation}, #{ppBizNum}, #{ppBizSort}, #{ppProfit}, 
    		#{ppProfitChkDate}, #{ppBizCerti}, #{ppIndus}, #{ppCh}, #{ppPhoto}, #{ppState}, now(), #{ppEditDate});
    </insert>
    
    <update id="updateItem" parameterType="kr.co.wesellglobal.sellermatch.model.PpProfileDto">
		UPDATE PpProfile 
		SET 
		    pp_proj_id = #{ppProjId}, pp_mem_id = #{ppMemId}, pp_grade = #{ppGrade}, pp_intro = #{ppIntro}, pp_nation = #{ppNation},
		    pp_biz_num = #{ppBizSort}, pp_profit = #{ppProfit}, pp_profit_chk_date = #{ppProfitChkDate}, pp_biz_certi = #{ppBizCerti}, 
		    pp_indus = #{ppIndus}, pp_ch = #{ppCh}, pp_state = #{ppState},
		    <if test="pp_photo !='' and pp_photo != null">
		    	 pp_photo = #{ppPhoto},
		    </if> 
		    pp_edit_date = now()
		where pp_id = #{ppId}
	</update>
    
    <select id="selectList"
    	parameterType="kr.co.wesellglobal.sellermatch.model.PpProfileDto"
    	resultMap="PpProfileMap">
    	SELECT 
	   		pp_idx, pp_id, pp_proj_id, pp_mem_id, pp_grade, pp_intro, pp_nation, pp_biz_num, pp_biz_sort, pp_profit, 
    		pp_profit_chk_date, pp_biz_certi, pp_indus, pp_ch, pp_photo, pp_state, pp_reg_date, pp_edit_date 
    	FROM PpProfile p
        INNER JOIN IndusList i
        ON p.pp_indus = i.indus_id
		ORDER BY pp_idx DESC
    </select>
    
    <select id="selectItem"
    	parameterType="kr.co.wesellglobal.sellermatch.model.PpProfileDto"
    	resultMap="PpProfileMap">
    	SELECT 
    		pp_idx, pp_id, pp_proj_id, pp_mem_id, pp_grade, pp_intro, pp_nation, pp_biz_num, pp_biz_sort, pp_profit, 
    		pp_profit_chk_date, pp_biz_certi, pp_indus, pp_ch, pp_photo as pp_photo_list, pp_state, pp_reg_date, 
    		pp_edit_date
    	FROM PpProfile
    	WHERE pp_id = #{ppId}
    </select>

</mapper>