<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectMapper">

    <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
    <resultMap id="ProjectMap"
        type="kr.co.wesellglobal.sellermatch.model.ProjectDto">
        <result property="projIdx"   column="proj_idx" />
        <result property="projId"   column="proj_id" />
        <result property="projMemId"   column="proj_mem_id" />
        <result property="projTitle"   column="proj_title" />
        <result property="projSort"   column="proj_sort" />
        <result property="projSortName"   column="proj_sort_name" />
        <result property="projIndus" column="proj_indus" />
        <result property="projPrice" column="proj_price" />
        <result property="projMargin" column="proj_margin" />
        <result property="projMarginName" column="proj_margin_name" />
        <result property="projNation" column="proj_nation" />
        <result property="projNationName" column="proj_nation_name" />
        <result property="projSupplyType" column="proj_supply_type" />
        <result property="projRecruitNum" column="proj_recruit_num" />
        <result property="projDetail" column="proj_detail" />
        <result property="projDetailImg" column="proj_detail_img" />
        <result property="projRequire" column="proj_require" />
        <result property="projKeyword" column="proj_keyword" />
        <result property="projFile" column="proj_file" />
        <result property="projThumbnailImg" column="proj_thumbnail_img" />
        <result property="projProdCerti" column="proj_prod_certi" />
        <result property="projState" column="proj_state" />
        <result property="projRegDate" column="proj_reg_date" />
        <result property="projEndDate" column="proj_end_date" />
        <result property="projDday" column="proj_Day" />
        <result property="projEditDate" column="proj_edit_date" />
        <result property="projIndusName" column="proj_indus_name" />
        <result property="projHit" column="proj_hit" />
        <result property="projChannel" column="proj_channel" />
        <result property="applyCount" column="apply_count" />
        <result property="profileBizCerti" column="profile_biz_certi" />
        <result property="sellerChChk" column="profile_ch_chk" />
        <result property="sellerSaleChk" column="profile_sale_chk" />
        <result property="memRname" column="mem_rname" />
        <result property="projProfit" column="proj_profit" />
        <result property="projProfitChkDate" column="proj_profit_chk_date" />
        <result property="projXxx" column="proj_XXX" />
        <!--  -->
        <result property="memNick" column="mem_nick" />
        <result property="memName" column="mem_name" />
        <result property="profileIntro" column="profile_intro" />
        <result property="profilePhoto" column="profile_photo" />
        <result property="projAddCount" column="proj_add_count" />
        <result property="contractCount" column="contract_count" />
        <result property="recommendCount" column="recommend_count" />
    </resultMap>
    
    <insert id="insertItem"
    	parameterType="kr.co.wesellglobal.sellermatch.model.ProjectDto"
    	useGeneratedKeys="true"
    	keyProperty="projIdx">
    	INSERT INTO ProjectList
    		(`proj_id`, `proj_mem_id`, `proj_title`, `proj_sort`, `proj_indus`, `proj_price`, `proj_margin`, 
    		`proj_nation`, `proj_supply_type`, `proj_recruit_num`, `proj_detail`, `proj_detail_img`, `proj_require`, `proj_keyword`, `proj_file`, `proj_thumbnail_img`,  
    		`proj_state`, `proj_reg_date`, `proj_end_date`, `proj_edit_date`, `proj_prod_certi`, `proj_hit`, `proj_channel`, `proj_profit`, `proj_profit_chk_date`)
    	 VALUES 
    	 	(#{projId}, #{projMemId}, #{projTitle}, #{projSort}, #{projIndus}, #{projPrice}, #{projMargin}, 
    	 	#{projNation}, #{projSupplyType}, #{projRecruitNum}, #{projDetail}, #{projDetailImg}, #{projRequire}, #{projKeyword}, #{projFile}, 
    	 	#{projThumbnailImg}, #{projState}, now(), #{projEndDate}, #{projEditDate}, #{projProdCerti}, #{projHit}, #{projChannel}, #{projProfit}, #{projProfitChkDate});
    </insert>
    
    <update id="updateItem" parameterType="kr.co.wesellglobal.sellermatch.model.ProjectDto">
		UPDATE ProjectList 
		SET 
		    proj_mem_id = #{projMemId}, proj_title = #{projTitle}, proj_sort = #{projSort}, proj_indus = #{projIndus}, 
		    proj_price = #{projPrice}, proj_margin = #{projMargin}, proj_nation = #{projNation}, proj_supply_type = #{projSupplyType}, 
		    proj_recruit_num = #{projRecruitNum}, proj_detail = #{projDetail}, proj_require = #{projRequire}, proj_keyword = #{projKeyword},
		    proj_hit = #{projHit}, proj_channel = #{projChannel}, proj_profit = #{projProfit}, proj_profit_chk_date = #{projProfitChkDate}
		    <if test="projEndDate !='' and projEndDate != null">
		    	proj_end_date = #{projEndDate}, 
		    </if>
		    <if test="projDetailImg !='' and projDetailImg != null">
		    	 proj_detail_img = #{projDetailImg},
		    </if> 
		    <if test="projFile != '' and projFile != null">
		    	proj_file = #{projFile}, 
		    </if>
		    proj_prod_certi = #{projProdCerti}, proj_state = #{projState}, proj_edit_date = now()
		where proj_id = #{projId}
	</update>
    
    <select id="selectList"
    	parameterType="kr.co.wesellglobal.sellermatch.model.ProjectDto"
    	resultMap="ProjectMap">
    	SELECT distinct
    		proj_idx, proj_id, proj_mem_id, proj_title, proj_sort, i.indus_name as proj_indus_name, proj_indus, proj_price, proj_margin, 
    		proj_nation, proj_supply_type, proj_recruit_num, proj_detail, proj_detail_img, proj_require, proj_thumbnail_img, 
    		proj_keyword, proj_file, proj_prod_certi, proj_state,date_format(proj_reg_date, '%Y-%m-%d') as proj_reg_date, proj_hit,
    		date_format(proj_end_date, '%Y-%m-%d') as proj_end_date, TO_DAYS(proj_end_date)-TO_DAYS(now()) as proj_Day, proj_edit_date, 
    		(SELECT COUNT(*) FROM ApplyList where apply_proj_id = p.Proj_id) as apply_count, proj_profit, proj_profit_chk_date,
    		mem_rname, proj_channel, profile_biz_certi, mem_nick, mem_name, profile_intro, profile_photo,
    		(select count(*) FROM ProjectList where Proj_mem_id = Profile_mem_id) as proj_add_count, 
    		(select count(*) FROM ApplyList where Apply_mem_id = Profile_mem_id and apply_type = 2) as recommend_count,
    		(select count(*) FROM ApplyList where Apply_mem_id = Profile_mem_id and apply_proj_state = 5) as contract_count
    		<if test="ppBizCerti != '' and ppBizCerti != null">
	        	, profile_biz_certi
	        </if>
	        <if test="sellerBizCerti != '' and sellerBizCerti != null">
	        	, profile_biz_certi
	        </if>
	        <if test="sellerChChk != '' and sellerChChk != null">
	        	, profile_ch_chk as seller_ch_chk
	        </if>
	        <if test="sellerSaleChk != '' and sellerSaleChk != null">
	        	, profile_sale_chk as seller_sale_chk
	        </if>
    	FROM ProjectList p
		INNER JOIN IndusList i
		ON p.proj_indus = i.indus_id
		INNER JOIN MemList m
		ON p.proj_mem_id = m.mem_id
		INNER JOIN ProfileList pf
		ON p.proj_mem_id = pf.profile_mem_id
        <where>
        	<if test="projDetail != '' and projDetail != null">
        		OR proj_detail LIKE concat('%', #{projDetail}, '%')
        	</if>
        	<if test="projIndusName != '' and projIndusName != null">
        		OR i.indus_name LIKE concat('%', #{projIndusName}, '%')
        	</if>
        	<if test="projKeyword != '' and projKeyword != null">
        		OR proj_keyword LIKE concat('%', #{projKeyword}, '%')
        	</if>
        	<if test="projMemId != '' and projMemId != null">
        		OR proj_mem_id = #{projMemId}
        	</if>
        	<if test="projTitle != '' and projTitle != null">
        		OR proj_title LIKE concat('%', #{projTitle}, '%')
        	</if>
        	
        	<if test="projSortArr != '' and projSortArr != null">
        		AND proj_sort IN
	            <foreach collection="projSortArr" item="item" index="index" open="(" close=")" separator=",">
	            	#{item}
	            </foreach>
        	</if>
        	
        	<if test="projNationArr != '' and projNationArr != null">
        		AND proj_nation IN
	            <foreach collection="projNationArr" item="item" index="index" open="(" close=")" separator=",">
	            	#{item}
	            </foreach>
        	</if>
        	
        	<if test="projIndusArr != '' and projIndusArr != null">
        		AND proj_indus IN
	            <foreach collection="projIndusArr" item="item" index="index" open="(" close=")" separator=",">
	            	#{item}
	            </foreach>
        	</if>
        	
        	<if test="projPriceArr != '' and projPriceArr != null">
	            <foreach collection="projPriceArr" item="item" index="index">
	            	<if test="item != '100000'">
	            		AND proj_price <![CDATA[ <= ]]> #{item}
	            	</if>
	            	<if test="item == '100000'">
	            		AND proj_price <![CDATA[ >= ]]> #{item}
	            	</if>
	            </foreach>
        	</if>
        	
        	<if test="projMarginArr != '' and projMarginArr != null">
        		AND proj_margin IN
	            <foreach collection="projMarginArr" item="item" index="index" open="(" close=")" separator=",">
	            	#{item}
	            </foreach>
        	</if>
        	
        	<if test="projSupplyTypeArr != '' and projSupplyTypeArr != null">
        		AND proj_supply_type IN
	            <foreach collection="projSupplyTypeArr" item="item" index="index" open="(" close=")" separator=",">
	            	#{item}
	            </foreach>
        	</if>
        	
        	<if test="projProdCerti != '' and projProdCerti != null">
        		AND proj_prod_certi = #{projProdCerti}
        	</if>
        	
        	<if test="projProfit != '' and projProfit != null">
        		AND proj_profit = #{projProfit}
        	</if>
        	
        	<if test="ppBizCerti != '' and ppBizCerti != null">
        		AND profile_biz_certi = #{ppBizCerti} And proj_sort = 1
        	</if>
        	
        	<if test="sellerBizCerti != '' and sellerBizCerti != null">
        		AND profile_biz_certi = #{sellerBizCerti} And proj_sort = 2
        	</if>
        	
        	<if test="sellerChChk != '' and sellerChChk != null">
        		AND profile_ch_chk = #{sellerChChk}
        	</if>
        	
        	<if test="sellerSaleChk != '' and sellerSaleChk != null">
        		AND profile_sale_chk = #{sellerSaleChk}
        	</if>
        	
        	<if test="projChannelArr != '' and projChannelArr != null">
	            <foreach collection="projChannelArr" item="item" index="index">
	            	 AND proj_channel Like concat('%', #{item}, '%')
	            </foreach>
        	</if>
        	
        	<if test="sellerMemRname != '' and sellerMemRname != null and ppMemRname != '' and ppMemRname != null">
		    	AND mem_rname = #{sellerMemRname} AND proj_sort = "2"
		    	OR mem_rname = #{ppMemRname} AND proj_sort = "1"
        	</if>
        	
        	<if test="ppMemRname != '' and ppMemRname != null and sellerMemRname == null">
		    	AND mem_rname = #{ppMemRname} AND proj_sort = "1"
        	</if>
        	
        	<if test="sellerMemRname != '' and sellerMemRname != null and ppMemRname == null">
		    	AND mem_rname = #{sellerMemRname} AND proj_sort = "2"
        	</if>
        	
        </where>
        
       	<if test="sort == 'defaultSort'">
       		ORDER BY proj_reg_date DESC, proj_idx DESC
       	</if>
       	<if test="sort == 'endSort'">
       		ORDER BY proj_end_date DESC
       	</if>
       	<if test="sort == 'regSort'">
       		ORDER BY proj_reg_date DESC
       	</if>
       	<if test="sort == 'applySort'">
       		ORDER BY apply_count DESC
       	</if>
       	<if test="sort == 'hitSort'">
       		ORDER BY proj_hit DESC
       	</if>
       	
        <if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if>
		
    </select>
    
    <select id="selectItem"
    	parameterType="kr.co.wesellglobal.sellermatch.model.ProjectDto"
    	resultMap="ProjectMap">
    	SELECT 
    		proj_idx, proj_id, proj_mem_id, proj_title, proj_sort, i.indus_name as proj_indus_name, proj_indus, proj_price, proj_margin, 
    		proj_nation, proj_supply_type, proj_recruit_num, proj_detail, proj_detail_img, proj_require, 
    		proj_keyword, proj_file, proj_prod_certi, proj_state,date_format(proj_reg_date, '%Y-%m-%d') as proj_reg_date, proj_hit,
    		date_format(proj_end_date, '%Y-%m-%d') as proj_end_date, TO_DAYS(proj_end_date)-TO_DAYS(now()) as proj_Day, proj_edit_date, 
    		(SELECT COUNT(*) FROM ApplyList where apply_proj_id = p.Proj_id) as apply_count, proj_profit, proj_profit_chk_date,
    		mem_rname, proj_channel, profile_biz_certi, profile_ch_chk as seller_ch_chk, profile_sale_chk as seller_sale_chk,
    		mem_nick, mem_name, profile_intro, profile_photo,
    		(select count(*) FROM ProjectList where Proj_mem_id = Profile_mem_id) as proj_add_count, 
    		(select count(*) FROM ApplyList where Apply_mem_id = Profile_mem_id and apply_type = 2) as recommend_count,
    		(select count(*) FROM ApplyList where Apply_mem_id = Profile_mem_id and apply_proj_state = 5) as contract_count
    	FROM ProjectList p
		INNER JOIN IndusList i
		ON p.proj_indus = i.indus_id
		INNER JOIN MemList m
		ON p.proj_mem_id = m.mem_id
		INNER JOIN ProfileList pf
		ON p.proj_mem_id = pf.profile_mem_id
    	WHERE proj_id = #{projId}
    </select>
    
    <!-- 프로젝트조회 데이터 수 조회 -->
	<select id="selectCountAll"
		parameterType="kr.co.wesellglobal.sellermatch.model.ProjectDto"
		resultType="int">
		SELECT COUNT(proj_idx)
		FROM ProjectList p
		INNER JOIN IndusList i
		ON p.proj_indus = i.indus_id
		INNER JOIN MemList m
		ON p.proj_mem_id = m.mem_id
		INNER JOIN ProfileList pf
		ON p.proj_mem_id = pf.profile_mem_id
        <where>
        	<if test="projDetail != '' and projDetail != null">
        		OR proj_detail LIKE concat('%', #{projDetail}, '%')
        	</if>
        	<if test="projIndusName != '' and projIndusName != null">
        		OR i.indus_name LIKE concat('%', #{projIndusName}, '%')
        	</if>
        	<if test="projKeyword != '' and projKeyword != null">
        		OR proj_keyword LIKE concat('%', #{projKeyword}, '%')
        	</if>
        	<if test="projMemId != '' and projMemId != null">
        		OR proj_mem_id LIKE concat('%', #{projMemId}, '%')
        	</if>
        	<if test="projTitle != '' and projTitle != null">
        		OR proj_title LIKE concat('%', #{projTitle}, '%')
        	</if>
        	
        	<if test="projSortArr != '' and projSortArr != null">
        		AND proj_sort IN
	            <foreach collection="projSortArr" item="item" index="index" open="(" close=")" separator=",">
	            	#{item}
	            </foreach>
        	</if>
        	
        	<if test="projNationArr != '' and projNationArr != null">
        		AND proj_nation IN
	            <foreach collection="projNationArr" item="item" index="index" open="(" close=")" separator=",">
	            	#{item}
	            </foreach>
        	</if>
        	
        	<if test="projIndusArr != '' and projIndusArr != null">
        		AND proj_indus IN
	            <foreach collection="projIndusArr" item="item" index="index" open="(" close=")" separator=",">
	            	#{item}
	            </foreach>
        	</if>
        	
        	<if test="projPriceArr != '' and projPriceArr != null">
	            <foreach collection="projPriceArr" item="item" index="index">
	            	<if test="item != '100000'">
	            		AND proj_price <![CDATA[ <= ]]> #{item}
	            	</if>
	            	<if test="item == '100000'">
	            		AND proj_price <![CDATA[ >= ]]> #{item}
	            	</if>
	            </foreach>
        	</if>
        	
        	<if test="projMarginArr != '' and projMarginArr != null">
        		AND proj_margin IN
	            <foreach collection="projMarginArr" item="item" index="index" open="(" close=")" separator=",">
	            	#{item}
	            </foreach>
        	</if>
        	
        	<if test="projSupplyTypeArr != '' and projSupplyTypeArr != null">
        		AND proj_supply_type IN
	            <foreach collection="projSupplyTypeArr" item="item" index="index" open="(" close=")" separator=",">
	            	#{item}
	            </foreach>
        	</if>
        	
        	<if test="projProdCerti != '' and projProdCerti != null">
        		AND proj_prod_certi = #{projProdCerti}
        	</if>
        	
        	<if test="projProfit != '' and projProfit != null">
        		AND proj_profit = #{projProfit}
        	</if>
        	
        	<if test="ppBizCerti != '' and ppBizCerti != null">
        		AND profile_biz_certi = #{ppBizCerti} And proj_sort = 1
        	</if>
        	
        	<if test="sellerBizCerti != '' and sellerBizCerti != null">
        		AND profile_biz_certi = #{sellerBizCerti} And proj_sort = 2
        	</if>
        	
        	<if test="sellerChChk != '' and sellerChChk != null">
        		AND profile_ch_chk = #{sellerChChk}
        	</if>
        	
        	<if test="sellerSaleChk != '' and sellerSaleChk != null">
        		AND profile_sale_chk = #{sellerSaleChk}
        	</if>
        	
        	<if test="projChannelArr != '' and projChannelArr != null">
	            <foreach collection="projChannelArr" item="item" index="index">
	            	 AND proj_channel Like concat('%', #{item}, '%')
	            </foreach>
        	</if>
        	
        	<if test="sellerMemRname != '' and sellerMemRname != null and ppMemRname != '' and ppMemRname != null">
		    	AND mem_rname = #{sellerMemRname} AND proj_sort = "2"
		    	OR mem_rname = #{ppMemRname} AND proj_sort = "1"
        	</if>
        	
        	<if test="ppMemRname != '' and ppMemRname != null and sellerMemRname == null">
		    	AND mem_rname = #{ppMemRname} AND proj_sort = "1"
        	</if>
        	
        	<if test="sellerMemRname != '' and sellerMemRname != null and ppMemRname == null">
		    	AND mem_rname = #{sellerMemRname} AND proj_sort = "2"
        	</if>
        	
        </where>
	</select>

</mapper>