<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReplyMapper">

    <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
    <resultMap id="replyMap"
        type="kr.co.wesellglobal.sellermatch.model.ReplyDto">
        <result property="replyId"     column="reply_id" />
        <result property="replyParent"   column="reply_parent" />
        <result property="replyWriter"   column="reply_writer" />
        <result property="replyContents" column="reply_contents" />
        <result property="replyProjId" column="reply_proj_id" />
        <result property="replyBoardId" column="reply_board_id" />
        <result property="replyPw" column="reply_pw" />
        <result property="replySecret" column="reply_secret" />
        <result property="replyRegDate" column="reply_reg_date" />
        <result property="replyDepth" column="reply_depth" />
        <result property="replyParentMemId"   column="reply_parent_mem_id" />
        <result property="replyParentNick"   column="reply_parent_nick" />
    </resultMap>
    
    <insert id="insertItem"
    	parameterType="kr.co.wesellglobal.sellermatch.model.ReplyDto"
    	useGeneratedKeys="true"
    	keyProperty="replyId">
    	INSERT INTO ReplyList
    		(`reply_parent`, `reply_writer`, `reply_contents`, `reply_proj_id`, `reply_board_id`, 
    		`reply_pw`, `reply_reg_date`, reply_secret, reply_depth, reply_parent_mem_id)
    	 VALUES 
    	 	(#{replyParent}, #{replyWriter}, #{replyContents}, #{replyProjId}, #{replyBoardId}, 
    	 	#{replyPw}, now(), #{replySecret}, #{replyDepth}, #{replyParentMemId});
    </insert>
    
    <select id="selectList"
    	parameterType="kr.co.wesellglobal.sellermatch.model.ReplyDto"
    	resultMap="replyMap">
    	SELECT 
	   		reply_id, reply_parent, reply_contents, reply_proj_id, reply_board_id, reply_secret, reply_pw,
	   		date_format(reply_reg_date, '%Y-%m-%d %H:%i') as reply_reg_date, reply_depth, reply_parent_mem_id,
	   		(select mem_nick from MemList where mem_id = reply_parent_mem_id) as reply_parent_nick,
	   		(select mem_nick from MemList where mem_id = reply_writer) as reply_writer
    	FROM ReplyList
    	WHERE reply_proj_id = #{replyProjId}
    	ORDER BY reply_parent
    	
    	<!-- <if test="listCount > 0">
			LIMIT #{offset}, #{listCount}
		</if> -->
    </select>
	
	<!-- 댓글 수 조회 -->
	<select id="selectCountAll"
		parameterType="kr.co.wesellglobal.sellermatch.model.ReplyDto"
		resultType="int">
		SELECT COUNT(*)
		FROM ReplyList
		WHERE reply_proj_id = #{reply_proj_id}
	</select>
	
	
	<!-- 시퀀스 조회 -->
	<select id="selectSeq"
		parameterType="kr.co.wesellglobal.sellermatch.model.ReplyDto"
		resultType="int">
		SELECT max(reply_id)
		FROM ReplyList;
	</select>
</mapper>