<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SellerProfileMapper">

    <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
    <resultMap id="SellerProfileMap"
        type="kr.co.wesellglobal.sellermatch.model.SellerProfileDto">
        <result property="sellerIdx"   column="seller_idx" />
        <result property="sellerId"   column="seller_id" />
        <result property="sellerMemId"   column="seller_mem_id" />
        <result property="sellerGrade"   column="seller_grade" />
        <result property="sellerIntro"   column="seller_intro" />
        <result property="sellerChChk" column="seller_ch_chk" />
        <result property="sellerChChkDate" column="seller_ch_chk_date" />
        <result property="sellerCareer" column="seller_career" />
        <result property="sellerSaleChk" column="seller_sale_chk" />
        <result property="sellerNation" column="seller_nation" />
        <result property="sellerBizNum" column="seller_biz_num" />
        <result property="sellerBizSort" column="seller_biz_sort" />
        <result property="sellerBizCerti" column="seller_biz_certi" />
        <result property="sellerCh" column="seller_ch" />
        <result property="sellerIndus" column="seller_indus" />
        <result property="sellerPhoto" column="seller_photo" />
        <result property="sellerState" column="seller_state" />
        <result property="sellerRegDate" column="seller_reg_date" />
        <result property="sellerEditDate" column="seller_edit_date" />
        <result property="sellerIndusName" column="seller_indus_name" />
        <result property="sellerPhotoList" column="seller_photo_list" />
    </resultMap>
    
    <insert id="insertItem"
    	parameterType="kr.co.wesellglobal.sellermatch.model.SellerProfileDto"
    	useGeneratedKeys="true"
    	keyProperty="sellerIdx">
    	INSERT INTO SellerProfile 
    		(`seller_id`, `seller_mem_id`, `seller_grade`, `seller_intro`, `seller_ch_chk`, `seller_ch_chk_date`, 
    		`seller_career`, `seller_sale_chk`, `seller_nation`, `seller_biz_num`, `seller_biz_sort`, `seller_biz_certi`, 
    		`seller_ch`, `seller_indus`, `seller_photo`, `seller_state`, `seller_reg_date`, `seller_edit_date`) 
    	VALUES 
    		(#{sellerId}, #{sellerMemId},, #{sellerGrade}, #{sellerIntro}, #{sellerChChk}, #{sellerChChkDate}, #{sellerCareer}, 
    		#{sellerSaleChk}, #{sellerNation}, #{sellerBizNum}, #{sellerBizSort}, #{sellerBizCerti}, #{sellerCh}, #{sellerIndus}, 
    		#{sellerPhoto}, #{sellerState}, now(), #{sellerEditDate});
    </insert>
    
    <update id="updateItem" parameterType="kr.co.wesellglobal.sellermatch.model.SellerProfileDto">
		UPDATE SellerProfile 
		SET 
		    seller_mem_id = #{sellerMemId}, seller_grade = #{sellerGrade}, seller_intro = #{sellerIntro}, seller_ch_chk = #{sellerChChk},
		    seller_ch_chk_date = #{sellerChChkDate}, seller_career = #{sellerCareer}, seller_sale_chk = #{sellerSaleChk}, seller_nation = #{sellerNation}, 
		    seller_biz_num = #{sellerBizNum}, seller_biz_sort = #{sellerBizSort}, seller_biz_certi = #{sellerBizCerti}, seller_ch = #{sellerCh},
		    <if test="sellerPhoto !='' and sellerPhoto != null">
		    	 seller_photo = #{sellerPhoto},
		    </if> 
		    seller_indus = #{sellerIndus}, seller_state = #{sellerState}, sellerEditDate = now()
		where seller_id = #{sellerId}
	</update>
    
    <select id="selectList"
    	parameterType="kr.co.wesellglobal.sellermatch.model.SellerProfileDto"
    	resultMap="SellerProfileMap">
    	SELECT 
	   		seller_idx, seller_id, seller_mem_id, seller_grade, seller_intro, seller_ch_chk, seller_ch_chk_date, 
    		seller_career, seller_sale_chk, seller_nation, seller_biz_num, seller_biz_sort, seller_biz_certi, 
    		seller_ch, seller_indus as seller_indus_name, seller_photo as seller_photo_list, seller_state, seller_reg_date, seller_edit_date 
    	FROM SellerProfile s
        INNER JOIN IndusList i
        ON s.seller_indus = i.indus_id
		ORDER BY seller_idx DESC
    </select>
    
    <select id="selectItem"
    	parameterType="kr.co.wesellglobal.sellermatch.model.SellerProfileDto"
    	resultMap="SellerProfileMap">
    	SELECT 
    		seller_idx, seller_id, seller_mem_id, seller_grade, seller_intro, seller_ch_chk, seller_ch_chk_date, 
    		seller_career, seller_sale_chk, seller_nation, seller_biz_num, seller_biz_sort, seller_biz_certi, 
    		seller_ch, seller_indus as seller_indus_name, seller_photo as seller_photo_list, seller_state, seller_reg_date, seller_edit_date 
    	FROM SellerProfile
    	WHERE seller_mem_id = #{sellerMemId}
    </select>

</mapper>