body.modal-open {

    overflow: auto;

}

body.modal-open[style] {

    padding-right: 0px !important;

}
/* checkbox */
input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label span {
    display: inline-block;
    object-fit: contain;
    font-family: NotoSansKR;
    font-size: 12px;
    font-stretch: normal;
    height: 16px;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 20px;
    color: #000000;
    margin: 0;
    line-height: normal;
    background:url(../../../wesellglobal/local_assets/img/checkActiveNone.png) no-repeat;
}
input[type="checkbox"]:checked + label span {
    background:url(../../../wesellglobal/local_assets/img/checkActive.png) no-repeat;
}
/*header*/

header {width:100%; background-color:#fff; height: 77px; position:fixed; z-index:10;}
header .header_wrap {width:1280px; height:100%; margin: 0 auto;}
header .header_wrap h1 {
	float:left;
	padding:23px 0; 
    margin: 0 54px 0 0;
    font-size: 0;
}
header .header_wrap h1 a {display:inline-block; text-decoration: none;}
header .header_wrap h1 a img {width:155px; height:30px;}
header .header_wrap nav {float:left; overflow: hidden;}
header .header_wrap nav ul {float:left;}
header .header_wrap nav ul > li {float:left;}
header .header_wrap nav ul > li > a {padding: 0 26px; line-height: 77px; display:inline-block; color:#000; text-decoration: none;}
header .header_wrap nav ul > li > a:hover {color:#999;}
header .header_wrap nav ul > li > .operation_guide_list {position:fixed; width:192px; top:77px;background-color:#fff;}
header .header_wrap nav ul > li > .operation_guide_list a {display:block; padding:15px 26px; text-decoration: none;}
header .header_wrap nav ul > li > .operation_guide_list a:hover {background-color:#000; color:#fff;}
header .header_wrap .gnb {float:right;}
header .header_wrap .gnb div {float:left;}
header .header_wrap .gnb .gnb_login a {line-height:77px; display:inline-block; color:#000; text-decoration: none; margin: 0 7px;}
header .header_wrap .gnb .gnb_login a:hover {color:#999;}
header .header_wrap .gnb .gnb_login a:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 15px;
    vertical-align: middle;
    background: #555;
    margin: -2px 15px 0 0;}
header .header_wrap .gnb .gnb_login a:first-child:before {display:none;}
header .header_wrap .gnb .gnb_project {margin-left:32px;}
header .header_wrap .gnb .gnb_project a {
    background: linear-gradient(to right, #D72B62, #51207D); display:inline-block; width:135px; height:35px;
    color:#fff; border-radius:5px;
    padding: 9px 0px 0px 20px; font-size:14px; margin-top:20px; text-decoration: none;
}
header .header_wrap .gnb .gnb_project a:hover {color:#b5b5b5;}




/*bnr*/

.bnr {width:100%; height:100%; background-color: #f7f7f7;}
.bnr .bnr_wrap {width:1280px; margin: 0 auto; padding-top:200px; height: 567px;}
.bnr .bnr_wrap2 {
	background-color: #DBDBDB;
    height: 450px;
    margin: 0 0 146.3px;
    text-align: center;
    background-color: #3b1374;
}
.bnr .bnr_wrap3 {}
.bnr .bnr_wrap4 {margin: 0 auto; height: 727px;
}
.bnr .bnr_wrap5 {margin: 0 auto; height: 1080px; background-color: #f7f7f7;}
.bnr .bnr_wrap6 {height: 283px; background-color: #f0f0f0; margin-bottom: 113.3px;} 
.bnr .bnr_wrap2 .box{
	display: inline-block;
	width: 310px;
}
.bnr .bnr_wrap2 .box .textBox7{
    width: 310px;
    height: 69px;
    margin: 23px 0 53px;
    font-family: NotoSansKRMedium;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    text-align: center;
    color: #ffffff;
    margin: 0;
}
.bnr .bnr_wrap2 .box button{
  width: 150px;
  height: 60px;
  border-radius: 37px;
  background-color: rgba(255, 255, 255, 0.56);
  font-family: NotoSansKRMedium;
  font-size: 29px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 46px;
}
.bnr .bnr_wrap2 .box button img{
  width: 26.5px;
  height: 37px;
  margin-right: 14.5px;
  object-fit: contain;
}

.bnr .bnr_wrap2 .box div{
  width: 156px;
  height: 72px;
  margin: 0 198.5px 23px 77px;
  font-family: NotoSansKRBold;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.bnr .bnr_wrap h2 {line-height:46px; margin-bottom:60px; }
.bnr .bnr_wrap p {font-size:18px; margin-bottom:120px; line-height:25px;}
.bnr .bnr_wrap a {
    background: linear-gradient(to right, #D72B62, #51207D); display:inline-block; width:225px; height:56px;
    color:#fff; border-radius:5px;
    padding: 8px; font-size:20px; text-decoration: none; text-align: center;
}
.bnr .bnr_wrap a:hover {color:#b5b5b5;}
.bnr .bnr_wrap a i {}




/*search_bnr*/

.search_bnr {width:100%; background: linear-gradient(to right, #D90B54, #153F92, #3B1374); height:143px;}
.search_bnr .search_wrap {width:1280px; margin: 0 auto; padding-top:35px;}
.search_bnr .search_wrap form {}
.search_bnr .search_wrap form .input_group {overflow:hidden;}
.search_bnr .search_wrap form .input_group input {width:1050px; height:73px; border-radius:50px; padding-left: 35px; font-size:26px; outline:0; border:0;}
.search_bnr .search_wrap form .input_group input::placeholder {color:#999; font-size:26px;}
.search_bnr .search_wrap form .input_group button {
	width:216px; 
	height:73px; 
	border-radius:50px; 
	cursor: pointer; 
	float:right; 
	background-color: rgba(255,255,255,0.5);
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
	}
.search_bnr .search_wrap form .input_group button:hover {background-color: rgba(255,255,255,0.8);}
.search_bnr .search_wrap form .input_group button i {font-size:26px;}



/*bnr2*/
.bnr2 {padding-top:105px; height:800px;}
.bnr2 .bnr2_wrap {width:1280px; margin:0 auto; background-image:url(../image/sircle.png); height:800px; background-repeat: no-repeat; background-position:center;}
.bnr2 .bnr2_wrap h2 {text-align: center; font-size:50px; line-height:60px; font-weight:700; margin-bottom:15px;}
.bnr2 .bnr2_wrap .bnr2_p {text-align: center; font-size:18px; line-height:25px; margin-bottom: 105px;}
.bnr2 .bnr2_wrap .advantage_list {margin-top: 60px;}
.bnr2 .bnr2_wrap .advantage_list .advantage {
	width: 400px;
    height: 300px;
    background-color: #fff;
    padding: 40px;
    display: inline-block;
    margin: 10px;
    box-shadow: inset 0px 0px 8px #000;
    text-align: center;
}
.bnr2 .bnr2_wrap .advantage_list .advantage2 {
	width: 300px;
    height: 300px;
    padding: 60px 0;
    margin: 60px;
}
.bnr2 .bnr2_wrap .advantage_list .advantage h2 {font-size:32px; margin-bottom:15px; font-weight:700; line-height: 45px; margin: 0;}
.bnr2 .bnr2_wrap .advantage_list .advantage h3 {font-size:32px; margin-bottom:15px; font-weight:100; line-height: 45px; margin: 0;}
.bnr2 .bnr2_wrap .advantage_list .advantage p {font-size:16px; line-height:21px; margin-top: 20px;}




/*bnr3*/
.bnr3 {width:100%; height:447px; background-color:#3b1374; background-image: url(../image/line.png); background-repeat:no-repeat; background-position: center; display: inline-block;}
.bnr3 .bnr3_wrap {width:1280px; height:447px; margin:0 auto; padding-top:108px; color:#fff; text-align:center;}
.bnr3 .bnr3_wrap .supplier {width:50%; float:left;}
.bnr3 .bnr3_wrap .supplier h3 {font-size:50px; line-height:60px; font-weight:700; margin-top:-15px; margin-bottom:15px;}
.bnr3 .bnr3_wrap .supplier p {font-size:18px; line-height:25px; margin-bottom:44px;}
.bnr3 .bnr3_wrap .supplier a {width:216px; height:73px; border-radius:50px; background-color: rgba(255,255,255,0.5); display:inline-block; font-size:18px; padding:27px 0 0 2px; color:#fff;}
.bnr3 .bnr3_wrap .supplier a:hover {background-color:rgba(255,255,255,0.7);}
.bnr3 .bnr3_wrap .supplier a i {}
.bnr3 .bnr3_wrap .seller {width:50%; float:left;}
.bnr3 .bnr3_wrap .seller h3 {font-size:50px; line-height:60px; font-weight:700; margin-top:-15px; margin-bottom:15px;}
.bnr3 .bnr3_wrap .seller p {font-size:18px; line-height:25px; margin-bottom:44px;}
.bnr3 .bnr3_wrap .seller a {width:216px; height:73px; border-radius:50px; background-color: rgba(255,255,255,0.5); display:inline-block; font-size:18px; padding:27px 0 0 2px; color:#fff;}
.bnr3 .bnr3_wrap .seller a:hover {background-color:rgba(255,255,255,0.7);}
.bnr3 .bnr3_wrap .seller a i {}




/*bnr4*/


.bnr4 {width:100%;}
.bnr4 .bnr4_wrap {width:1280px; margin: 0 auto; padding-top:70px;}
.bnr4 .bnr4_wrap h2 {font-size:50px; line-height:60px; font-weight:700; margin-bottom:22px;}
.bnr4 .bnr4_wrap p {font-size:18px; line-height:25px;}
.bnr4 .bnr4_wrap .step_list {margin-top:65px; position:relative; margin-bottom:82px; overflow:hidden;}
.bnr4 .bnr4_wrap .step_list .step {width:388px; height:588px; background-color:#dbdbdb; margin-right:58px; float:left;}
.bnr4 .bnr4_wrap .step_list .step1 {}
.bnr4 .bnr4_wrap .step_list .step2 {}
.bnr4 .bnr4_wrap .step_list .step3 {margin-right:0;}
.bnr4 .bnr4_wrap .step_list .next {}
.bnr4 .bnr4_wrap .step_list .next .next_1 {position:absolute; width:145px; height:145px; background-color:#fff; border-radius:50%; top:215px; left:344px;}
.bnr4 .bnr4_wrap .step_list .next .next_2 {position:absolute; width:145px; height:145px; background-color:#fff; border-radius:50%; top:215px; right:344px;}



/*match_bnr*/

.match_bnr {background-color:#ebebeb; height:905px;}
.match_bnr .match_bnr_wrap {width:1280px; height:762px;  margin: 0 auto; padding-top:135px;}
.match_bnr .match_bnr_wrap h2 {font-size:50px; line-height:60px; font-weight:700; margin-bottom:110px;}
.match_bnr .match_bnr_wrap .match_img {width:623px; height:341px; background-color:#fff;}
.match_bnr .match_bnr_wrap .match_img1 {float:left;}
.match_bnr .match_bnr_wrap .match_img2 {float:right;}




/*partner_bnr*/

.partner_bnr {width:100%;padding-top: 77px;}
.partner_bnr .partner_wrap {width:1280px; margin:0 auto; text-align:center;}
.partner_bnr .partner_wrap h2 {font-size:50px; line-height:60px; font-weight:700; margin-bottom:90px;}
.partner_bnr .partner_wrap .partner_list {}
.partner_bnr .partner_wrap .partner_list a {width:250px; height:100px; background-color:#dedede; display: inline-block; border-radius:40px;}




/*footer*/

footer {width:100%; background-color:#4f495c;}
footer .footer_wrap {width:1280px; margin: 0 auto;}
footer .footer_wrap .f_top {font-size: 20px; color: #b5b5b5; padding: 33px 0 28.5px 0; display: inline-block; margin-right: 10px;}
footer .footer_wrap .f_top1{width:500px;}
footer .footer_wrap .f_top2{width:200px; margin: 0 28px;}
footer .footer_wrap .f_top ul {overflow: hidden; padding:22px; padding: 33px 0;}
footer .footer_wrap .f_top ul li {float:left;}
footer .footer_wrap .f_top ul li a {color:#999; font-size:15px;}
footer .footer_wrap .f_top ul li:first-child a:before {display: none;}
footer .footer_wrap .f_top ul li a:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 14px;
    vertical-align: middle;
    background: #b5b5b5;
    margin: -2px 30px 0 30px;
}
footer .footer_wrap .f_top ul li p {color:#999; font-size:15px;}
footer .footer_wrap .f_top ul li p:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 14px;
    vertical-align: middle;
    background: #b5b5b5;
    margin: -2px 30px 0 30px;
}
footer .footer_wrap .f_btm {
width: 500px;
display: inline-block;
font-family: NotoSansKRMedium;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.78;
letter-spacing: normal;
text-align: left;
color: #9892a5;
margin-bottom: 100px;
}
footer .footer_wrap .f_btm .f_btm2 p:nth-child(1){
	font-size: 18px;
}
footer .footer_wrap #info a, a:hover, a:focus{
	text-decoration: none;
	color: #b5b5b5;
	line-height: normal;
}
footer .footer_wrap #termsOfService a, a:hover, a:focus{
	text-decoration: none;
	color: #b5b5b5;
	line-height: normal;
}
footer .footer_wrap div hr {
	border: solid 1px #7c7c7c;
	margin: 0;
}

.footer_logo img{ 
	margin: 66.5px 0 30.8px 0;
	width: 226px;
    height: 83px;
    object-fit: contain;
}

.circle {
	border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
    padding: 30px;
    top: -98px;
    background-color: steelblue;
    color: white;
    font-size: 20px;
}
.textBox{
	display: inline-block;
	margin: -80px;
}
.emptyResult{
	text-align: center;
    height: 300px;
    padding: 150px;
    font-size: 20px;
}