#wrap {}
#wrap .notice {
    background-image: url(../image/notice_frame.png);
    background-repeat: no-repeat;
    background-position: center;
    width:1000px;
    height:300px;
    position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
    text-align: center;
    display: inline-block;
    box-shadow:2px 3px 5px rgba(0,0,0,0.5);
}
#wrap .notice img {
    margin-bottom:35px;
    margin-top:35px;
}
#wrap .notice h1 {
    color:#51217d;
    font-size:32px;
    margin-bottom:15px;
}
#wrap .notice h1 em {
    font-size:48px;
    color:#d62b62;
    font-weight:bold;
}
#wrap .notice p {
    font-size:20px;
    color:#999;
}

#wrap .addr {font-size:14px; color:#999; position: fixed; text-align: center; bottom:0; left:0; right:0; margin: 0 auto;}
#wrap .addr address {margin-bottom:5px;}
#wrap .addr p {margin-bottom:10px;}




