body.modal-open {

    overflow: auto;

}
body  a a:focus a:hover{
 line-height: normal !important;
 color: #484848 !important;
}

button:focus button:active button:hover{
    outline:none !important;
}

body.modal-open[style] {

    padding-right: 0px !important;

}
body.modal-open .modal[style]{
	padding-right: 0px !important;
}
input[type="checkbox"] {
	display: none;
}
input[type="radio"] {
	display: none;
}
input[type="checkbox"] + label {
	margin-bottom: 0 !important;
}
input[type="checkbox"] + label span {
    display: inline-block;
	object-fit: contain;
	font-family: NanumGothic;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #707070;
    padding-left: 20px;
    margin: 0;
    font-weight: normal;
    background:url(/assets/img/checkActiveNone.png) no-repeat;
}
input[type="checkbox"]:checked + label span {
    background:url(/assets/img/checkActive.png) no-repeat;
}
input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
	 transition: background-color 5000s ease-in-out 0s;
	 -webkit-transition: background-color 9999s ease-out;
     -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
#m-search_frm .input_group input, #search_frm .input_group input{
	width: 100% !important;
    outline: none !important;
    font-size: 15px;
    vertical-align: text-top;
}

/* paging */
.pagination>li>a, .pagination>li>span { 
	margin-left: -1px !important;
	width: 34px !important;
	height: 34px !important;
	margin: 0 8px 0 6px !important;
	border-radius: 5px !important;
	background-color: #ffffff !important;
	font-size: 14px !important;
	font-weight: normal !important;
	font-stretch: normal !important;
	font-style: normal !important;
	letter-spacing: normal !important;
	color: #8b8b8b !important;
}
.pagination>li>a.pageSelect{
	background-color: #ff540f !important;
	color: #ffffff !important;
}

/*header*/
header {width:100%; background-color:#fff; height: 77px; position:fixed; z-index:10; border-bottom: 0.5px solid #eeeeee; margin-top: -77px;}
header .header_wrap {width:1280px; height:100%; margin: 0 auto;}
header .header_wrap h1 {
	float:left;
	padding:23px 0; 
    margin: 0 54px 0 0;
    font-size: 0;
}
header .header_wrap h1 a {display:inline-block; text-decoration: none;}
header .header_wrap h1 a img {width:155px; height:30px;}
header .header_wrap nav {float:left; overflow: hidden;}
header .header_wrap nav ul {float:left;}
header .header_wrap nav ul > li {float:left;}
header .header_wrap nav ul > li > a {
    line-height: 77px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin: 0px 25px;
	font-size: 1em;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #1f1f1f;
}
header .header_wrap nav ul > li > .operation_guide_list {position:fixed; width:192px; top:77px;background-color:#fff;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
header .header_wrap nav ul > li > .operation_guide_list a {display:block; padding:15px 26px; text-decoration: none;color: #484848;}
header .header_wrap nav ul > li > .operation_guide_list a:hover{color: #ff540f;}
header .header_wrap .gnb {float:right;}
header .header_wrap .gnb div {float:left;}
header .header_wrap .gnb .gnb_login a {
    line-height: 77px;
    display: inline-block;
    color: #000;
    text-decoration: none;
	font-size: 1em;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #1f1f1f;	
}
header .header_wrap .gnb .gnb_login a:first-child:before {display:none;}
header .header_wrap .gnb .gnb_project {margin-left:32px;}
header .header_wrap .gnb .gnb_project a {
	display:inline-block;
	height: 40px;
	padding: 8px 10px;
	margin-top: 18px;
	border-radius: 4px;
	box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
	background-image: linear-gradient(103deg, #ff8000, #ff540f);
	font-size: 15px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

/*bnr*/

.bnr {width:100%; height:100%; background-color: #ffffff;}
.bnr .bnr_wrap {width:1280px; margin: 0 auto; padding-top:200px; height: 567px;}
.bnr .bnr_wrap2 {
	height: 370px;
    margin: 0 0 80px;
    text-align: center;
    background-color: #3b1374;
}
.partner_bnr3 {
	width: 100%;
    text-align: center;
    margin-top: 77px;
    padding-top: 80px;
}
.bnr .bnr_wrap4 {
    position: absolute;
    font-family: NotoSansKRBold;
    font-size: 55px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    font-weight: bolder;
    letter-spacing: -4px;
    text-align: left;
    color: #000000;
    width: 1920px;
    height: 727px;
    margin: 77px 0 0;
    object-fit: contain;
}
.bnr .bnr_wrap5 {
	margin-bottom: 80px;
    background-color: #f7f7f7;
}
.bnr .bnr_wrap6 {
    background-color: #f0f0f0;
} 
.bnr .bnr_wrap2 .box{
	display: inline-block;
	width: fit-content;
}
.bnr .bnr_wrap2 .box .textBox7{
	width: fit-content;
    height: 69px;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}
.bnr .bnr_wrap2 .box button{
    width: 180px;
    height: 60px;
    border-radius: 37px;
    background-color: rgba(255, 255, 255, 0.56);
    font-family: NotoSansKRMedium;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 45px;
}
.bnr .bnr_wrap2 .box button img{
	width: 17.9px;
    height: 25px;
    margin-right: 8.1px;
    object-fit: contain;
    margin-top: -5px;
}

.bnr .bnr_wrap2 .box div{
  height: 72px;
  margin: 0 auto;
  margin-top: 45.2px;
  font-family: NotoSansKRBold;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.bnr .bnr_wrap h2 {line-height:46px; margin-bottom:60px; }
.bnr .bnr_wrap p {font-size:18px; margin-bottom:120px; line-height:25px;}
.bnr .bnr_wrap a {
    background: linear-gradient(to right, #D72B62, #51207D); display:inline-block; width:225px; height:56px;
    color:#fff; border-radius:5px;
    padding: 8px; font-size:20px; text-decoration: none; text-align: center;
}




/*search_bnr*/

.search_bnr {width:100%; background: linear-gradient(to right, #D90B54, #153F92, #3B1374); height:143px;}
.search_bnr .search_wrap {width:1280px; margin: 0 auto; padding-top:35px;}
.search_bnr .search_wrap form .input_group {overflow:hidden;}
.search_bnr .search_wrap form .input_group input {width:1050px; height:73px; border-radius:50px; padding-left: 35px; font-size:26px; outline:0; border:0;}
.search_bnr .search_wrap form .input_group input::placeholder {color:#999; font-size:26px;}
.search_bnr .search_wrap form .input_group button {
	width:216px; 
	height:73px; 
	border-radius:50px; 
	cursor: pointer; 
	float:right; 
	background-color: rgba(255,255,255,0.5);
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
	}



/*bnr2*/
.bnr2 {padding-top:105px; height:800px;}
.bnr2 .bnr2_wrap {width:1280px; margin:0 auto; background-image:url(../image/sircle.png); height:800px; background-repeat: no-repeat; background-position:center;}
.bnr2 .bnr2_wrap h2 {text-align: center; font-size:50px; line-height:60px; font-weight:700; margin-bottom:15px;}
.bnr2 .bnr2_wrap .bnr2_p {text-align: center; font-size:18px; line-height:25px; margin-bottom: 105px;}
.bnr2 .bnr2_wrap .advantage_list {margin-top: 60px;}
.bnr2 .bnr2_wrap .advantage_list .advantage {
	width: 400px;
    height: 300px;
    background-color: #fff;
    padding: 40px;
    display: inline-block;
    margin: 10px;
    box-shadow: inset 0px 0px 8px #000;
    text-align: center;
}
.bnr2 .bnr2_wrap .advantage_list .advantage2 {
	width: 300px;
    height: 300px;
    padding: 60px 0;
    margin: 60px;
}
.bnr2 .bnr2_wrap .advantage_list .advantage h2 {font-size:32px; margin-bottom:15px; font-weight:700; line-height: 45px; margin: 0;}
.bnr2 .bnr2_wrap .advantage_list .advantage h3 {font-size:32px; margin-bottom:15px; font-weight:100; line-height: 45px; margin: 0;}
.bnr2 .bnr2_wrap .advantage_list .advantage p {font-size:16px; line-height:21px; margin-top: 20px;}




/*bnr3*/
.bnr3 {width:100%; height:447px; background-color:#3b1374; background-image: url(../image/line.png); background-repeat:no-repeat; background-position: center; display: inline-block;}
.bnr3 .bnr3_wrap {width:1280px; height:447px; margin:0 auto; padding-top:108px; color:#fff; text-align:center;}
.bnr3 .bnr3_wrap .supplier {width:50%; float:left;}
.bnr3 .bnr3_wrap .supplier h3 {font-size:50px; line-height:60px; font-weight:700; margin-top:-15px; margin-bottom:15px;}
.bnr3 .bnr3_wrap .supplier p {font-size:18px; line-height:25px; margin-bottom:44px;}
.bnr3 .bnr3_wrap .supplier a {width:216px; height:73px; border-radius:50px; background-color: rgba(255,255,255,0.5); display:inline-block; font-size:18px; padding:27px 0 0 2px; color:#fff;}
.bnr3 .bnr3_wrap .seller {width:50%; float:left;}
.bnr3 .bnr3_wrap .seller h3 {font-size:50px; line-height:60px; font-weight:700; margin-top:-15px; margin-bottom:15px;}
.bnr3 .bnr3_wrap .seller p {font-size:18px; line-height:25px; margin-bottom:44px;}
.bnr3 .bnr3_wrap .seller a {width:216px; height:73px; border-radius:50px; background-color: rgba(255,255,255,0.5); display:inline-block; font-size:18px; padding:27px 0 0 2px; color:#fff;}




/*bnr4*/


.bnr4 {width:100%;}
.bnr4 .bnr4_wrap {width:1280px; margin: 0 auto; padding-top:70px;}
.bnr4 .bnr4_wrap h2 {font-size:50px; line-height:60px; font-weight:700; margin-bottom:22px;}
.bnr4 .bnr4_wrap p {font-size:18px; line-height:25px;}
.bnr4 .bnr4_wrap .step_list {margin-top:65px; position:relative; margin-bottom:82px; overflow:hidden;}
.bnr4 .bnr4_wrap .step_list .step {width:388px; height:588px; background-color:#dbdbdb; margin-right:58px; float:left;}
.bnr4 .bnr4_wrap .step_list .step3 {margin-right:0;}
.bnr4 .bnr4_wrap .step_list .next .next_1 {position:absolute; width:145px; height:145px; background-color:#fff; border-radius:50%; top:215px; left:344px;}
.bnr4 .bnr4_wrap .step_list .next .next_2 {position:absolute; width:145px; height:145px; background-color:#fff; border-radius:50%; top:215px; right:344px;}



/*match_bnr*/

.match_bnr {background-color:#ebebeb; height:905px;}
.match_bnr .match_bnr_wrap {width:1280px; height:762px;  margin: 0 auto; padding-top:135px;}
.match_bnr .match_bnr_wrap h2 {font-size:50px; line-height:60px; font-weight:700; margin-bottom:110px;}
.match_bnr .match_bnr_wrap .match_img {width:623px; height:341px; background-color:#fff;}
.match_bnr .match_bnr_wrap .match_img1 {float:left;}
.match_bnr .match_bnr_wrap .match_img2 {float:right;}




/*partner_bnr*/

.partner_bnr {
    width: 100%;
    padding: 0;
    background-color: #f8f8f8;
}
.partner_bnr .partner_wrap {
    width: 1280px;
    margin: 0 auto;
    text-align: left;
}
.partner_bnr .partner_wrap h2 {font-size:50px; line-height:60px; font-weight:700; margin-bottom:90px;}
.partner_bnr .partner_wrap .partner_list a {width:250px; height:100px; background-color:#dedede; display: inline-block; border-radius:40px;}




/*footer*/

footer {
  width: 100%;
  background-color: #d9d9d9;
}
.footer-box{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .footer_wrap {width:1280px; margin: 0 auto;padding-top: 1px;height: inherit;}
footer .footer_wrap .f_top {
  vertical-align: top;
  width: fit-content;
  display: inline-block;
}
footer .footer_wrap .f_top0 {
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.1px;
  text-align: left;
  color: #484848;
  margin-bottom: 20px;
}
footer .footer_wrap .f_top1{
  width: 472px;
  margin-right: 213px;
} 
footer .footer_wrap .f_top2{
  width: 101px;
  margin-right: 126px;
} 
footer .footer_wrap .f_top3{
  width: 110px;
  margin-right: 109px;	
} 
footer .footer_wrap .f_top4{
  width: 134px;
} 
footer .footer_wrap .f_top ul {overflow: hidden; padding:22px; padding: 33px 0;}
footer .footer_wrap .f_top ul li {float:left;}
footer .footer_wrap .f_top ul li a {color:#999; font-size:15px;}
footer .footer_wrap .f_top ul li:first-child a:before {display: none;}
footer .footer_wrap .f_top ul li a:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 14px;
    vertical-align: middle;
    background: #b5b5b5;
    margin: -2px 30px 0 30px;
}
footer .footer_wrap .f_top ul li p {color:#999; font-size:15px;}
footer .footer_wrap .f_top ul li p:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 14px;
    vertical-align: middle;
    background: #b5b5b5;
    margin: -2px 30px 0 30px;
}
footer .footer_wrap .f_btm {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.06px;
  text-align: left;
  color: #484848;
  line-height: 1.67;
}
footer .footer_wrap .f_btm a{
  color: #484848;
}
#menu-container{
	display: none;
	margin: 13px 0;
}
.menu-background{
	display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 15;
    width: 100%;
    background-color: #000000;
    opacity: 60%;
    height: 100%;
    /* background-color: rgba( 255, 255, 255, 0.5 ); */
	visibility: visible;
}
.mobile-img{
	position: absolute;
    left: 9vw;
    top: 11vw;
    width: 42vw;
}
.producer{
	background-image: linear-gradient(to right, #b678fe, #6f5aff) !important;
}
.memSort{
  display: inline-block;
  width: 46px;
  padding: 2px 0 2px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-color: #ff540f;	
}
.memSort.producer{
  background-color: #6f5aff;
  background-image: none !important;
}
/* 모바일 */
@media screen and (max-width: 767px){
	/* 부트스트랩 CSS 변경 */
	.input-group{
		display: block !important;
	}
	#loginModal .modal-dialog{
		margin: 30px auto;
		width: 85% !important;
	}
	form > div.row > img {
		width: 100% !important; 
	}
	
	.login_logo h5{
		font-size: 3vw !important;
	}
	.form-control{
		font-size: 2.5vw !important;
	}
	.login-logo{
		width: 66vw !important;
	}
	input[type="checkbox"] + label span {
		font-size: 2.8vw !important;
	}
	#idPwFind{
		font-size: 3vw !important;
	}
	.bar{
		font-size: 3vw !important;
		color: #fff !important;
	}
	header .header_wrap {width:100%; height:100%; margin: 0 auto;}
    header .header_wrap nav {display:none; overflow: hidden;}
    header .header_wrap .gnb .gnb_login {
	    display: none;
	}
    header .header_wrap .gnb .gnb_project {
    	display: none;
	}
	header .header_wrap .gnb .gnb_project.fix{
		display: block !important;
		position: fixed;
	    bottom: 4rem;
	    left: 50%;
	    transform: translateX(-50%);
	    z-index: 3;
	    margin-left: 0;
	}	
	footer .footer_wrap {width: 100% !important;}
	/* 햄버거 메뉴 */
	#menu-container > div.menu-list.accordion > ul{
		height: 3000px !important;
	}	
	#menu-container > div.menu-list.accordion.active > ul{
		height: 3000px !important;
	}
	a { text-decoration: none; color: black;}
	#menu-container{
		display: block; 
	}
	#menu-wrapper {
	    overflow: hidden;
	    max-width: 55px;
	    /* border:1px solid red; */
	    cursor: pointer;
	}
	.sidebar-img{
		width: 3vw;
	    float: right;
	    margin-top: 0.5vh;
	    margin-right: 15px;	
	}
	
	#menu-wrapper #hamburger-menu {
	    position: relative;
	    width: 25px;
	    height: 20px;
	    margin: 15px;
	}
	
	#menu-wrapper #hamburger-menu span {
	    opacity: 1;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    left: 0;
	    display: block;
	    width: 100%;
	    height: 2px;
	    border-radius: 10px;
	    color: black;
	    background-color: #ff540f;
	    position: absolute;
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .4s ease-in-out;
	    transition: .4s ease-in-out;
	}
	#menu-wrapper #hamburger-menu.open span {
	    opacity: 1;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    left: 0;
	    display: block;
	    width: 100%;
	    height: 2px;
	    border-radius: 10px;
	    color: black;
	    background-color: #ffffff;
	    position: absolute;
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .4s ease-in-out;
	    transition: .4s ease-in-out;
	    z-index: 9999;
	}
	
	#menu-wrapper #hamburger-menu span:nth-child(1) {
	    top: 0;
	}
	#menu-wrapper #hamburger-menu span:nth-child(2) {
	    top: 9px;
	}
	#menu-wrapper #hamburger-menu span:nth-child(3) {
	    top: 18px;
	}
	#menu-wrapper #hamburger-menu.open span:nth-child(1) {
	    top: 9px;
	    -webkit-transform: rotate(135deg);
	    transform: rotate(135deg);   
	}
	#menu-wrapper #hamburger-menu.open span:nth-child(2) {
	    opacity: 0;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    left: -60px;
	}
	#menu-wrapper #hamburger-menu.open span:nth-child(3) {
	    top: 9px;
	    -webkit-transform: rotate(-135deg);
	    transform: rotate(-135deg);
	}
	
	#menu-container .menu-list .menu-submenu {
	    padding:0;
	}
	#menu-container .menu-list .menu-submenu li a {
	    display:block;
	    padding:10px 0 10px 20px;
	
	}
	#menu-container .menu-list .menu-submenu li a:hover {
	    background:#eee;
	}
	#menu-container .menu-list li.accordion-toggle a.menu-link {
	    display:block;
	    padding:10px 0 10px 20px;
		font-weight: 800;
	    font-stretch: normal;
	    font-style: normal;
	    letter-spacing: normal;
	    text-align: left;
	    color: #343434;
	    font-size: 3vw;
	}
	#menu-container .menu-list li.accordion-toggle a.menu-link:hover{
		color: #ff540f !important;
	}	
	#menu-container .menu-list .menu-submenu li a:hover {
	    background:#eee;
	}
	#menu-container .menu-list {
		top: 0;
	    padding-left: 0;
	    display: block;
	    position: absolute;
	    width: 60%;
	    background: white;
	    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
	    z-index: 999;
	    overflow-y: auto;
	    overflow-x: hidden;
	    left: -100%;
	}
	header .header_wrap .gnb .gnb_login{
		background-color: #ff540f !important;
		height: 10vw;
    	padding: 25vw 0;
	}	
	header .header_wrap .gnb .gnb_login a{
		font-size: 3vw !important;
		color: #ffffff !important;
		margin-top: 10vw !important;
		margin-left: 1vw !important;
    	margin-right: 1vw !important;
    	line-height: 10vw !important;
	}
	#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
	    font-size: 16px;
	    padding: 10px;
	    text-transform: uppercase;
	    border-bottom: 1px solid #ccc;
	}
	#menu-container .menu-list li:first-of-type {
	    border-top: 0;
	}
	header .header_wrap .gnb div{
		float: none !important;
		text-align: center !important;
	}
	
	.accordion-toggle, .accordion-content {
	    cursor: pointer;
	    font-size: 16px;
	    position: relative;
	    letter-spacing: 1px;
	}
	
	.accordion-content {
	    display: none;
	}
	
	.accordion-toggle.active-tab {
	  /* background: yellowgreen; */
	  transition: all 0.3s ease;
	}
	.accordion-toggle a.active:before {
	    -webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    transform: rotate(0deg);
	    background: #fff !important;
	}
	
	.accordion-toggle a.active:after {
	    -webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    transform: rotate(180deg);
	    background: #fff !important;
	    opacity: 0;
	}
	
	.main-0000{height: auto !important;}
	.main-001{
		margin-top: 50px !important;
		font-size: 7vw !important;
		width: 100% !important;
		height: auto !important;
	}
	.main-000 {width: 100% !important; text-align: center !important; height: auto !important;}
	.main-0001 {width: 100% !important; padding-bottom: 80px !important;}
	.main-0004 {width: 100% !important;}
	.main-img1 {
	    position: inherit !important;
	    top: 0 !important;
	    left: 0 !important;
	}
	.mainBox{
		display: block !important;
	    margin-bottom: 40px !important;
	    float: none !important;
	    margin-left: 0 !important;
	    width: 95% !important;
	    text-align: center !important;	
	}
	.mainBox2, .mainBox4{
		margin-top: 0 !important;
		margin-right: 0 !important;
	}
	.main-0003{
		height: auto !important;
		margin-bottom: 0 !important;
	}
	.shareBtn{width: 45% !important; font-size: 3.5vw !important; height: auto !important; padding: 13px 0 13px !important;}
	.findBtn{width: 45% !important; font-size: 3.5vw !important; height: auto !important; padding: 13px 0 13px !important;}
	.boxText{width: 80% !important; height: auto !important;}
	.boxText2{
		font-size: 3.3vw !important;
	}
	.boxText2 span{
		font-size: 4vw !important;
	}
	.mainBox:hover .boxSpan{
		font-size: 6vw !important; 
	}
	.mainBox .boxSpan{
		font-size: 5vw !important;
	}
	.main-002{
		width: 100% !important;
		font-size: 3.5vw !important;
		height: auto !important;
	}
	.textBox1{font-size: 5vw !important; margin: 80px 0!important; height: fit-content !important;}
	.main-003{
		font-size: 5vw !important;
		margin-top: 80px !important;
    	margin-bottom: 80px !important;
	}
	.table-img{
		display: block !important;
		width: 95%;
    	margin: 0 auto;
    	margin-bottom: 80px;
	}
	.tableBox{
		display: none !important;
	}
	.main-004{
		margin-bottom: 80px !important;
    	margin-top: 80px !important;
	}
	.FAQ{
		width: 80% !important;
		margin-bottom: 80px !important;
	}
	.img5{
	    vertical-align: top;
	}
	.answerBox {
	    width: 66vw !important;
	    font-size: 3vw !important;
	}
	.textBox5{
		font-size: 5vw !important;
		height: auto !important;
	}
	.textBox3{
		font-size: 5vw !important;
    	margin: 80px 0 !important;
    	margin-bottom: 120px !important;
	}
	.memBox{width: 90% !important; margin: 0 !important; margin-bottom: 100px !important; height: auto !important;}
	.main-006{display: inline-block !important; margin-bottom: 0 !important;}
	.table-title-row{ font-size: 2.8vw !important; padding: 4vw 0 4vw 0 !important;}
	.table-row{font-size: 1vw !important;}
	.tableBox{width: 100% !important; margin: 0 !important; display: inline-block;}
	.title-col1{width: 50% !important;}
	.title-col2{width: 13% !important;}
	.title-col3{width: 39% !important;}
	.table-col1{
		width: 49% !important;
		font-size: 1vw !important;
		padding: 3vw 0 !important;
		display: inline-table !important;
	}
	.table-col2{
		width: 13% !important; 
		font-size: 1vw !important;
		padding: 3vw 0 !important;
		display: inline-table !important;
	} 
	.table-col3{
		width: 39% !important; 
		font-size: 1vw !important; 
		padding: 3vw 0 !important;
		display: inline-table !important;
	}
	.table-col2 img{
		width: 20%;
	    height: auto;
	    vertical-align: -webkit-baseline-middle !important;
	}
	
	.f_top_1{width: 40% !important;}
	.f_top_2{width: 40% !important; float: right;}
	.f_top_3{width: 40% !important; margin-top: 30px;}
	.f_top_4{width: 40% !important; float: right; margin-top: 30px;}
	.footer-box{text-align: center;}
	footer{height: auto;}
	footer .footer_wrap .f_btm{font-size: 2vw !important;}
	footer .footer_wrap .f_top0{font-size: 2.3vw !important;}
	footer .footer_wrap .f_top1{width: 100% !important;}
	footer .footer_wrap .f_top2{width: 100% !important;}
	footer .footer_wrap .f_top3{width: 100% !important;}
	footer .footer_wrap .f_top4{width: 100% !important;}
	
	.partner_bnr .partner_wrap {width: 100% !important;}
	.row1 .leftBox{float: none; display: block;}
	
	.main-img2 {
	    width: 100% !important;
	    background-size: 70%;
	    object-fit: contain;
	    margin: auto;
	    background-repeat: no-repeat;
	    background-position: center;
	}
	.main-img1 {
	    width: 100% !important;
	    height: 352px;
	    background-repeat: no-repeat;
	    display: inline-block;
	    background-size: 70%;
	    background-position: center;
	}
	.main_img4 {
		margin: 0 auto !important;
	    background-size: 100% !important;
	    width: 80% !important;
	    font-size: 4vw !important;
	    padding: 11vw 14vw 7vw 23vw !important;
	    height: auto !important;
	    left: 15px !important;
	    top: -15vw !important;
	    background-image: url(/assets/img/도형1.png) !important;
	}
	.memBox .textBox4 span{
		font-size: 4vw !important;
	    font-weight: 800 !important;
	    color: #ff540f !important;
	}
	.memBox:hover div.textBox4 span{
		font-size: 4vw !important;
	    font-weight: 800 !important;
	    color: #ff540f !important;	
	}
	.textBox4{
	    font-size: 3vw !important;
	    height: auto !important;
	}
	.img4 {
	    width: 80% !important;
	    background-repeat: no-repeat;
	    background-position-x: center;
	    margin-bottom: 20px !important;
   		margin-top: 80px !important;
	}
	.main-img3 {
	    background-image: url(/assets/img/down.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	    text-align: center;
	    display: inline-block;
	    background-size: 100% !important;
	}
	.img3 {
	    width: 80% !important;
	    margin-top: 80px !important;
	}
	.textBox7{
		font-size: 5vw !important;
		margin-bottom: 35px !important;
	}
	.Qa{
		width: 70% !important;
	}
	.FAQBox span{
		font-size: 3.5vw !important;
	}
	.img5{
	    margin-right: 0 !important;
	    background-repeat: no-repeat;
	    background-size: 3vw !important;
	    background-position: bottom;
	    object-fit: contain;
	    display: inline-block;
	}
	.textBox6{
		width: 82% !important;
		font-size: 3vw !important;
		margin-left: 16vw !important;
		margin-bottom: 60px !important;
	}
	header .header_wrap h1 a img{
		margin-left: 15px !important;
	}
	.nowBtn{
		margin-bottom: 80px !important;
	}	
}
/* 테블릿 세로 */
@media screen and (min-width: 768px) and (max-width: 991px) {
	#menu-container > div.menu-list.accordion > ul{
		height: 3000px !important;
	}	
	#menu-container > div.menu-list.accordion.active > ul{
		height: 3000px !important;
	}
	
	header .header_wrap {width:100%; height:100%; margin: 0 auto;}
    header .header_wrap nav {display:none; overflow: hidden;}
    header .header_wrap .gnb .gnb_login {
	    display: none;
	}
    header .header_wrap .gnb .gnb_project {
	    position: fixed;
	    bottom: 4rem;
	    left: 50%;
	    transform: translateX(-50%);
	    z-index: 3;
	    margin-left: 0;
	}
	footer .footer_wrap {width: 100% !important;}	
	footer .footer_wrap {width: 100% !important;}
	footer .footer_wrap .f_btm{font-size: 2vw !important;}
	footer .footer_wrap .f_top0{font-size: 2.5vw !important;}

	/* 햄버거 메뉴 */
	ul { list-style: none; }
	a { text-decoration: none; color: black;}
	#menu-container{
		display: block; 
	}
	#menu-wrapper {
	    overflow: hidden;
	    max-width: 55px;
	    /* border:1px solid red; */
	    cursor: pointer;
	}
	
	
	#menu-wrapper #hamburger-menu {
	    position: relative;
	    width: 25px;
	    height: 20px;
	    margin: 15px;
	}
	
	#menu-wrapper #hamburger-menu span {
	    opacity: 1;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    left: 0;
	    display: block;
	    width: 100%;
	    height: 2px;
	    border-radius: 10px;
	    color: black;
	    background-color: #ff540f;
	    position: absolute;
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .4s ease-in-out;
	    transition: .4s ease-in-out;
	}
	#menu-wrapper #hamburger-menu.open span {
	    opacity: 1;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    left: 0;
	    display: block;
	    width: 100%;
	    height: 2px;
	    border-radius: 10px;
	    color: black;
	    background-color: #ffffff;
	    position: absolute;
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .4s ease-in-out;
	    transition: .4s ease-in-out;
	    z-index: 9999;
	}	
	
	#menu-wrapper #hamburger-menu span:nth-child(1) {
	    top: 0;
	}
	#menu-wrapper #hamburger-menu span:nth-child(2) {
	    top: 9px;
	}
	#menu-wrapper #hamburger-menu span:nth-child(3) {
	    top: 18px;
	}
	#menu-wrapper #hamburger-menu.open span:nth-child(1) {
	    top: 9px;
	    -webkit-transform: rotate(135deg);
	    transform: rotate(135deg);
	}
	#menu-wrapper #hamburger-menu.open span:nth-child(2) {
	    opacity: 0;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    left: -60px;
	}
	#menu-wrapper #hamburger-menu.open span:nth-child(3) {
	    top: 9px;
	    -webkit-transform: rotate(-135deg);
	    transform: rotate(-135deg);
	}
	
	#menu-container .menu-list .menu-submenu {
	    padding:0;
	}
	#menu-container .menu-list li.accordion-toggle a.menu-link {
	    display:block;
	    padding:10px 0 10px 20px;
		font-weight: 800;
	    font-stretch: normal;
	    font-style: normal;
	    letter-spacing: normal;
	    text-align: left;
	    color: #343434;
	    font-size: 3vw;
	}
	#menu-container .menu-list li.accordion-toggle a.menu-link:hover{
		color: #ff540f !important;
	}
	#menu-container .menu-list .menu-submenu li a:hover {
	    background:#eee;
	}
	header .header_wrap .gnb .gnb_login{ 
		background-color: #ff540f !important;
		height: 10vw;
    	padding: 25vw 0;
	}
	header .header_wrap .gnb .gnb_login a{
		font-size: 3vw !important;
		color: #ffffff !important;
		margin-top: 10vw !important;
		margin-left: 1vw !important;
    	margin-right: 1vw !important;
	}
	#menu-container .menu-list {
		top: 0;
	    padding-left: 0;
	    display: block;
	    position: absolute;
	    width: 60%;
	    background: white;
	    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
	    z-index: 999;
	    overflow-y: auto;
	    overflow-x: hidden;
	    left: -100%;
	}
	
	#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
	    font-size: 16px;
	    padding: 10px;
	    text-transform: uppercase;
	    border-bottom: 1px solid #ccc;
	}
	#menu-container .menu-list li:first-of-type {
	    border-top: 0;
	}
	header .header_wrap .gnb div{
		float: none !important;
		text-align: center !important;
	}
	.accordion-toggle, .accordion-content {
	    cursor: pointer;
	    font-size: 16px;
	    position: relative;
	    letter-spacing: 1px;
	}
	
	.accordion-content {
	    display: none;
	}
	
	.accordion-toggle.active-tab {
	  /* background: yellowgreen; */
	  transition: all 0.3s ease;
	}
	.accordion-toggle a.active:before {
	    -webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    transform: rotate(0deg);
	    background: #fff !important;
	}
	
	.accordion-toggle a.active:after {
	    -webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    transform: rotate(180deg);
	    background: #fff !important;
	    opacity: 0;
	}
	
	.main-0000{height: auto !important;}
	.main-001{
		margin-top: 50px !important;
		font-size: 3em !important;
		width: 100% !important;
		height: auto !important;
	}
	.main-002{
		margin-top: 50px !important;
		margin-bottom: 50px !important;
	}
	.main-004{
		margin: 100px 0 !important;
	}
	.main-006{
		margin-bottom: 100px !important;
	}
	.img4{
		margin: 100px 0 30px 0 !important;
	}
	.textBox7{
		font-size: 2.5em !important;
	}
	.main-000 {width: 100% !important; text-align: center !important; height: auto !important;}
	.main-0001 {width: 100% !important; padding-bottom: 100px !important;}
	.main-0004 {width: 100% !important;}
	.main-img1 {
		background-position: center;
		background-size: 80%;
	    position: inherit !important;
	    top: 0 !important;
	    left: 0 !important;
	}
	.main-imgBox{
		margin-top: 30px !important;
		margin-bottom: 0 !important;
	}
	.mainBox{
		display: block !important;
	    margin-bottom: 40px !important;
	    float: none !important;
	    margin-left: 0 !important;
	    width: 95% !important;
	    text-align: center !important;
	}
	.mainBox2, .mainBox4{
		margin-top: 0 !important;
		margin-right: 0 !important;
	}
	.table-title-row{
		padding: 15px 0 15px !important;
	}
	.main-0003{
		height: auto !important;
		margin-bottom: 100px !important;
	}
	.img3{
		margin-top: 150px !important;
	}
	.boxText{width: 80% !important; height: auto !important;}
	.textBox1{font-size: 2.5em !important; height: auto !important;}
	.main-003{font-size: 2.5em !important;}
	.shareBtn{width: 45% !important; font-size: 1.2em !important;}
	.findBtn{width: 45% !important; font-size: 1.2em !important;}
	.FAQ{
		width: 80% !important;
		margin-bottom: 100px !important;
	}
	.img5{
	    vertical-align: top;
	}
	.answerBox {
    	width: 90% !important;
	}
	.textBox5{
		font-size: 2.5em !important;
	}
	.textBox3{
		font-size: 2.5em !important;
		margin-bottom: 100px !important;
    	margin-top: 100px !important;
	}
	.main-img3 {
	    background-image: url(../assets/img/down.png) !important;
	}
	.memBox{ width: 300px !important; height: auto !important;}
	.main_img4{
		top: -60px !important;
		left: 20px !important;
		width: 100% !important;
	    background-size: 100%;
	    padding: 46px 77px 46px 77px !important;
	}
	.textBox6{
		width: 81% !important;
		font-size: 0.9em !important;
	}
	.memBox .textBox4 span{
		font-size: 1.5em !important;
		color: #ff540f !important;
	}
	.textBox4{
		font-size: 0.9em !important;
	}
	.nowBtn{
		margin-bottom: 100px !important;
	}
	
	.sidebar-img{
		width: 3vw;
	    float: right;
	    margin-top: 0.5vh;
	    margin-right: 15px;	
	}
	.tableBox{width: 80% !important; margin: 0 !important; display: inline-block;}
	.title-col1{width: 40% !important; font-size: 0.9em !important;}
	.title-col2{width: 20% !important; font-size: 0.9em !important;}
	.title-col3{width: 40% !important; font-size: 0.9em !important;}
	.table-col1{width: 40% !important; font-size: 0.9em !important;}
	.table-col2{width: 20% !important; font-size: 0.9em !important;}
	.table-col3{width: 40% !important; font-size: 0.9em !important;}
	
	.f_top_1{width: 40% !important;}
	.f_top_2{width: 40% !important; float: right;}
	.f_top_3{width: 40% !important; margin-top: 30px;}
	.f_top_4{width: 40% !important; float: right; margin-top: 30px;}
	.footer-box{text-align: center;}
	footer{height: auto;}
	
	header .header_wrap h1 a img{
		margin-left: 15px !important;
	}
	
	
	.partner_bnr .partner_wrap {width: 100% !important;}
}
/* 테블릿 가로 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    header .header_wrap {width:100%; height:100%; margin: 0 auto;}
    footer .footer_wrap {width: 100% !important;}
    header .header_wrap nav ul > li > a {margin: 0 15px !important;}
	.main-000 {width: 100% !important;}
	.main-0001 {width: 100% !important;}
	.main-0004 {width: 100% !important;}
	
	.memBox{ width: 400px !important;}
	.main-img1{left: 56% !important;}
	.boxText{width: 350px !important;}
	.main-007{
		width: 80%;
	    text-align: center;
    	margin: 0 auto;
	}
	.mainBox1, .mainBox2, .mainBox3, .mainBox4{
		width: 45% !important;
		margin-right: 0 !important;
    	margin-left: 0 !important;
	}
	.mainBox2, .mainBox4{
		float: right !important;
	}
	.boxText2{
		font-size: 0.9em !important;
	}
	.boxText2 span{
		font-size: 1.5em !important;
	}
	.main_img4{
		left: 40px !important;
	}
	.tableBox{width: 80% !important; margin: 0 !important; display: inline-block;}
	.title-col1{width: 40% !important;}
	.title-col2{width: 20% !important;}
	.title-col3{width: 40% !important;}
	.table-col1{width: 40% !important;}
	.table-col2{width: 20% !important;}
	.table-col3{width: 40% !important;}
	
	.f_top_1{width: 50% !important; margin-left: 40px;}
	.f_top_2{width: 14% !important;}
	.f_top_3{width: 16% !important;}
	.f_top_4{width: 12% !important;}
	
	header .header_wrap h1 a img{
		margin-left: 15px !important;
	}
	header .header_wrap .gnb{
		margin-right: 15px;
	}
	 
	.partner_bnr .partner_wrap {width: 100% !important;}
	
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
    header .header_wrap {width:100%; height:100%; margin: 0 auto;}
    footer .footer_wrap {width: 100% !important;}
    .main-001{margin-top: 50px !important;}
	.main-000 {width: 100% !important;}
	.main-0001 {width: 100% !important;}
	.main-0004 {width: 100% !important;}
	
	.tableBox{width: 80% !important;}
	.title-col1{width: 30% !important;}
	.title-col2{width: 35% !important;}
	.title-col3{width: 35% !important;}
	.table-col1{width: 30% !important;}
	.table-col2{width: 35% !important;}
	.table-col3{width: 35% !important;}
	
	.f_top_1{width: 50% !important; margin-left: 40px;}
	.f_top_2{width: 16% !important;}
	.f_top_3{width: 16% !important;}
	.f_top_4{width: 12% !important;}
	
	header .header_wrap h1 a img{
		margin-left: 15px !important;
	}
	header .header_wrap .gnb{
		margin-right: 15px;
	}
	
	.partner_bnr .partner_wrap {width: 100% !important;}
}