@charset "UTF-8";

.top-Box{
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
  margin-bottom: 10px;
}
.top-Box2{
	display: inline-block;
	width: 1225px;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: left;
	color: #858585;
}
#editBtn{
	float: right;
}
.partner_bnr3 hr{
  height: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  border: solid 2px #ff570e;
}
.container1{
	width: 900px;
	display: inline-block;
	margin-bottom: 51px;
}
.container2{
	margin: 0 240px;
	height: 50px;
}
.container1 .container2{
	margin: 0;
    width: 100%;
	height: fit-content;
    float: left;
	padding: 60px 60px 0 60px;
	border-radius: 10px;
	border: solid 1px #cccccc;
	background-color: #ffffff;
}
.projDetail{
  width: 100%;
  height: 53px;
  margin-bottom: 32px;
}
.projDetail a{
	text-decoration: none;
	color: black;
}
a:focus, a:hover{
	text-decoration: none;
	outline: none;
}
.D-day{
	display: inline-block;
	height: 30px;
	margin-left: 5px;
	padding: 5px 6px;
	border-radius: 5px;
	background-color: #d098f1;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	float: right;
}
.titleBox{
	display: inline-block;
	max-width: 540px;
	height: 53px;
	font-size: 22px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	text-align: left;
	color: #484848;
	float: left;
}
.sFindBox{
  display: inline-block;
  padding: 6px 0;
  width: 85px;
  height: 30px;
  margin-left: 50px;
  border-radius: 5px;
  background-color: #988dfe;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  line-height: normal !important;
  float: right;
}
.pFindBox{
  display: inline-block;
  padding: 5px 0;
  width: 85px;
  height: 30px;
  margin-left: 50px;
  border-radius: 5px;
  background-color: #90c28c;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  line-height: normal !important;
  float: right;
}
.detailBox1{
  width: 100%;
  background-color: #fffdf9;
}
.detailBox1:nth-child(2){
	background-color: #fff9f2;
}
.detailBox2{
  width: 100%;
  background-color: #fffdf9;
}
.detailContainer{
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
}
.reviewContainer .detailBox3{
	margin-top: 0;
	border-bottom: none;
} 
.detailBox3{
  margin-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  border-bottom: solid 1px #dddddd;
}
.detailBox3:last-child{
	border-bottom: 0;
}
.detailBox3 span{
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #ff560f;	
  margin-right: 45px;
  vertical-align: top;
}
.detailBox3 .textBox1{
  display: inline-flex;
  width: 670px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
  /* 줄바꿈 */
  overflow: hidden;
  word-break: break-all;
  white-space: pre-line;
}
.detailBox3 .textBox1 p{
	margin: 0;
}
.fileBox{
  display: inline-block;
  width: 670px;
  padding: 15px 30px 15px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  background-color: #ffffff;	
}
.fileInfo{
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: left;
	color: #484848;
}
.fileInfo:last-child{
	margin-bottom: 0;
}
.download{
	/* margin-top: -3px; */
	float: right;
    cursor: pointer;
    width: 20px;
    height: 20px;
    /* background-repeat: no-repeat; */
    background-size: 100%;
}
.detailBox3 .textBox2{
  width: 674px;
  margin: 0;
  padding: 20px 20px 12px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  text-align: left;
}
.detailBox3 .textBox2 hr {
	width: 672px;
    border-top: solid 1px #cccccc;
    margin-bottom: 12px;
    margin-left: -20px;
}
.detailBox3 .textBox2 input[type="checkbox"] + label {
	float: left;
}
.detailBox3 .textBox2 input[type="checkbox"] + label span{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;	
  vertical-align: -webkit-baseline-middle;
  background-position: 0px;
}
.question{
  width: 100%;
  text-align: left;
  overflow: hidden;
  resize: none;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  text-align: left;
  color: #484848;
}
textarea::placeholder {
  color: #484848;
}
.detailBox4{
  display: contents;
  height: 32px;
  margin-bottom: 22px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}
.infoBox{
  text-align: center;
  width: 24.5%;
  display: inline-block;
  position:relative;
}
.infoBox:before, .infoBox2:before{
	position: absolute;
    left: 0;
    top: 24.5px;
    content: "";
    width: 1px;
	height: 35px;
    overflow: hidden;
    display: block;
    background: #cccccc;
}
.detailBox1 .infoBox:first-child:before, .detailBox2 .infoBox2:first-child:before{
	display: none;
}
.textBox2{
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #838383;
  margin-top: 20px;
  margin-bottom: 10px;
}
.infoBox .textRow span{
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #484848;
}
.infoBox2{
    display: inline-block;
    text-align: center; 
    width: 49.5%;
    position:relative;
}
.infoBox2 span{
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #838383;
  display: inline-block;
}
.infoBox2 span.textRow2{
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #484848;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 0;
}
.tagBox{
  display: inline-block;
  height: 28px;
  padding: 4px;
  border-radius: 5px;
  background-color: #fff9ec;  
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ff9900;
  margin-right: 10px;

}
.question-btn{
  width: 65px;
  height: 31px;
  padding: 6px 0;
  border-radius: 4px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(115deg, #ff8000, #ff540f);
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  float: right;
}
.reviewContainer{
  display: inherit;
  width: 100%;
  margin: 15px 0 90px 0;
  padding: 60px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  background-color: #ffffff;	
}
.reviewBox{
	padding: 10px 0 20px;
	width: 100%;
	height:fit-content;
	border-top: solid 1px #cccccc;
}
.reviewBox:last-child{
	border-bottom: solid 1px #cccccc;
}
.reviewBox2{
	display: inline-block;
	width: 22%;
	height:fit-content;
	float: left;
}
.reviewNick{
	display: inline-block;
	margin: 0 20px 11px 0;
	font-family: NanumGothic;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #484848;
}
.reviewDate{
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}
.reviewContents{
	display: inline-block;
	width: 78%;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #484848;
}
.container3{
	width: 360px;
	padding: 30px;
	border-radius: 10px;
	border: solid 1px #cccccc;
	background-color: #ffffff;
	float: right;
}
.matchBtn{
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
  padding: 6px 0;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #479dff;
  font-size: 17px; 
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}
.matchBtn img{
	margin-top: -5px;
	margin-right: 3px;
}
.scrapBtn {
	margin-bottom: 15px;
}
/* .btnBox{
	display: inline-block;
	width: 80px;
	height: 30px;
	padding: 5px 5px;
	margin: 0 3px;
	border-radius: 5px;
	border: solid 1px #cccccc;
	background-color: #ffffff;
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	color: #484848;	
} */
.btnBox{
	display: inline-block;
	width: 300px;
	height: 40px;
	padding: 6px 0;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #cccccc;
	background-color: #ffffff;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: center;
	color: #484848;
}
.shareImg{
  width: 20px;
  height: 20px;
  object-fit: contain;	
}
.applyImg{
  width: 22px;
  height: 22px;
  object-fit: contain;
}
.profileImgBox{
    display: inline-block;
    border-radius: 70%;
    overflow: hidden;
	width: 130px;
	height: 130px;
	object-fit: contain;
}
.btn-container{
	margin-bottom: 35px;
}
.miniImgBox{
    display: inline-block;
    border-radius: 70%;
    overflow: hidden;
    width: 52px;
	height: 52px;
	margin: 0 10px 0 0;
	object-fit: contain;
}
.btnBox img{
	margin-top: -5px;
	margin-right: 4px;
}
.profileNick{
  margin: 15px 0 15px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #484848;
}
.applyNumBox{
  margin: 10px 0 0;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  margin-top: 20px;
  padding: 5px 0;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}
.applyNumBox2{
  border-bottom: solid 1px #dddddd;
  margin-bottom: 31px;
  padding: 5px 0;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #484848;	
}
.applyNumBox span, .applyNumBox2 span{
	display: inline-block;
	margin-bottom: 6px;
	margin-top: 6px;
}
.applyNumBox span:nth-child(2), .applyNumBox2 span:nth-child(2){
  float: right;
  color: #484848;
}
.applyStatus{
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
  margin-bottom: 16px;
}
.applyNick{
	display: inline-block;
	width: 230px;
    vertical-align: middle;
	height: 21px;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #484848;
	margin-top: -20px;
}
.applyTag{
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #4b4b4b;
	margin: 1px 5px 0 0;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.applyBox{
	margin-bottom: 20px;
	text-align: left;
}
.applyBox:last-child{
	margin-bottom: 0px;
}
.m-detail{
	display: none;
}
#question-form{
	width: 674px;
	display: inline-block;
	margin-left: 24px;
}
.secretPw{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 110px;
    height: 25px;
    vertical-align: -webkit-baseline-middle;
    margin-top: 2px;
    margin-left: 10px;
    padding-left: 10px;
}
/* ---------------------------------------------------------------------------------------------------------- */
/* 모바일 */
@media screen and (max-width: 767px){
	.partner_wrap hr{
		margin: 5px 0 !important;
		border: 2px solid #ff540f !important;
	}
	.partner_bnr3{
		padding-top: 30px !important;
	}
	.container1{
		width: 100% !important;
		margin-bottom: 10px !important;
	}
	.w-detail{
		display: none !important;
	}
	.m-detail{
		display: block !important;
	}
	.partner_bnr .partner_wrap{
		width: 90% !important;
		margin: 0 auto !important;
	}
	.container1 .container2{
		padding: 5vw !important;
		margin-top: 5px !important;
	}	
	.titleBox{
		width: 100% !important;
		font-size: 5vw !important;
	}
	.D-day{
		margin-left: 0 !important;
	    width: 20vw !important;
	    font-size: 2.8vw !important;
	    padding: 1.3vw !important;
	    height: 6.5vw !important;		
	}
	.pFindBox, .sFindBox{
		width: 20vw !important;
		font-size: 2.8vw !important;	
		padding: 1.3vw !important;
		height: 6.5vw !important;
	}
	.top-Box{
		font-size: 5vw !important;
		margin-bottom: 0 !important;
	}
	.partner_wrap hr{
		margin: 5px !important;
	}
	.projDetail{
		margin: 10px 0 !important;
	}
	.infoBox{
		width: 32% !important;
		height: 100% !important;
	}
	.infoBox2{
		width: 49% !important;
		height: 100% !important;
	}
	.infoBox2.infoBox3{
		width: 100% !important;
		text-align: center !important;
	}
	.detailBox3{
		font-size: 4vw !important;
	}
	.detailBox3 .textBox1{
		margin: 10px 0 0 0 !important;
		font-size: 3vw !important;
	}
	.container3{
		width: 100% !important;
		float: none !important;
		margin-bottom: 20px !important;
		padding: 5vw !important;
	}
	.textBox2, .infoBox2 span{
		font-size: 3vw !important;
		margin-top: 1vh !important;
		margin-bottom: 5px !important;
	}
	.infoBox .textRow span{
		font-size: 3vw !important;
	}
	.textRow, .infoBox2 span.textRow2{
		margin-bottom: 1vh !important;
	}
	.detailBox3 .textBox2{
		font-size: 2vw !important;
    	min-height: 90px;
	}
	.tagBox{
		font-size: 2.5vw !important;
		margin-bottom: 5px !important;
	}
	.reviewBox2{
		width: 25% !important;
	}
	.reviewNick{
		font-size: 2vw !important;
		margin: 0 !important;
	}	
	.reviewContents{
		font-size: 2vw !important;
		width: 70% !important;
		margin-top: 1.2vh !important;
	}
	.btnBox img{
		margin-top: -0.3vh !important;
	    width: 3vw !important;
	}
	.btnBox{
		width: auto !important;
	    height: auto !important;
	    padding: 1vw 1vh !important;
	    font-size: 3vw !important;
	}
	.btn-container{
		text-align: center;
	}
	.detailBox2-b{
		border-bottom: none !important;
		border-top: none !important;
	}
	.question-btn{
		width: 18vw !important;
	    height: 3vh !important;
	    font-size: 3vw !important;
	}
	.text-center{
		width: 130px !important;
    	display: inline-block !important;
	}
	.profileImgBox{
	    display: inline-block !important;
	    border-radius: 50% !important;
	    width: 100px !important;
	    height: 100px !important;
	}
	.profileNick{
	    text-align: center !important;
	    display: inline-block !important;
	    width: 100% !important;		
	    font-size: 3vw !important;
	}
	.applyNumBox{
		display: inline-block !important;
  		margin-left: 6vw !important;
  	  	width: 35vw !important;
    	vertical-align: top;
	}
	.applyTag{
		font-size: 3vw !important;
	}
	.applyNick{
		margin-top: 0 !important;
	}
}

/* 테블릿 세로 */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.container1{
		width: 100% !important;
	}
	.m-detail{
		display: none !important;
	}	
}

/* 테블릿 가로 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.container1{
		width: 100% !important;
	}
	.m-detail{
		display: none !important;
	}		
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
	.container1{
		width: 100% !important;
	}
	.m-detail{
		display: none !important;
	}	
}