@charset "UTF-8";

.partner_bnr3 hr{
  height: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 2px #ff570e;
}
.partner_bnr2 {
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
}
.top-Box{
  width: 100%;
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #343434;
  margin-bottom: 10px;
}
.top-Box2{
	width: 100%;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #343434;
	text-align: left;
}
.container1{
	width: 1280px;
	margin: 0 auto;
	border: solid 1px #cccccc;
	display: inline-block;
	padding: 60px 60px;
	margin-bottom: 110px;
	border-radius: 20px;
}
.container2{
	margin-bottom: 58px;
}
.container1 .container2{
	margin: 0;
	height: fit-content;
    float: left;
    margin-bottom: 60px;
}
.leftBox{
	float: left;
}
.rightBox{
	float: right;
	margin: 15px 15px;
}
.row1{
	height: 50px;
	width: 97%;
	margin-left: 0;
	margin-right: 0;
}
.row2{
	margin-left: 0;
	margin-right: 0;
}
.profileImgBox{
	display: inline-block;
	float: left;
}
.profileImg{
  width: 160px;
  height: 160px;
  object-fit: contain;
  border-radius: 70%;
  margin-right: 30px;
}
.infoBox1{
	width: 718px;
	margin-bottom: 20px;
	display: inline-block;
}
.infoBox2 .textBox2{
	display: block;
	font-size: 15px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #343434;
	margin: 0;
}
.infoBox2 .textBox2:nth-child(1){
	margin-bottom: 10px !important;	
}
.infoBox2 .textBox2 span:nth-child(1){
	margin-left: 20px;
}
.infoBox2 .textBox2 span{
	display: inline-block;
	margin-right: 20px;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: left;
	color: #343434;
}
.hashtag{
  margin-right: 28px;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #343434;
  display: inline-block;
}
.intro{
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #343434;
  margin-bottom: 14px;
}
.match{
  width: 200px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(101deg, #ff8000, #ff540f);
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff; 
}
.matchPass{
  width: 11px;
  height: 15.3px;
  object-fit: contain;
  margin-top: -3px;
}
.star{
  width: 11.6px;
  height: 11.1px;
  object-fit: contain;
  margin-top: -3px;
}
.scrap{
  width: 199px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #fe5413;
  background-color: #ffffff;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ff540f;
}
.btnBox{
	float: right;
	width: 250px;
	margin-top: -110px;
	text-align: center;
}
.detailBox1{
  display: inline-block;
  width: 1160px;
  border-top: solid 1px #cccccc;
  margin-bottom: 15px;
  background-color: #fff6f2;
}
.detailBox2{
  display: inline-block;
  width: 1160px;
  border-bottom: solid 1px #cccccc;
  background-color: #faf6ff;
  margin-bottom: 60px;
}
.infoBox{
  text-align: center;
  width: 286px;
  height: 100px;
  display: inline-block;
}
.textBox2{
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 10px;
}
.infoBox .textRow{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #343434;
}
.infoBox .textRow span{
	font-weight: bold;
}
.infoBox2{
    display: inline-block;
    text-align: left;
    width: 60%;
}
.detailBox3{
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #ff550f;
}
.profile-hr{
  width: 1160px;
  height: 0;
  margin: 12px 0;
  border: solid 1px #cccccc;
}
.ContentsBox1{
  width: 1160px;
  margin-bottom: 76px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #343434;
}
.ContentsBox2{
  width: 1160px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.ContentsBox2 .projectDate{
	display: inline-block;
    width: 95px;
    height: fit-content;
    padding: 0 15px 5px 0;
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border-right: solid 0.5px #cccccc;
}
.ContentsBox2 .project{
  width: 90%;
  display: inline-block;
  margin: 0 0 5px 15px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
/* 모바일 */
@media screen and (max-width: 767px){
	.partner_wrap hr{
		margin: 5px 0 !important;
		border: 2px solid #ff540f !important;
	}
	.partner_bnr3{
		padding-top: 30px !important;
	}
	.container1{
		width: 100% !important;
		margin-bottom: 10px !important;
	}
	.w-detail{
		display: none !important;
	}
	.m-detail{
		display: block !important;
	}
	.partner_bnr .partner_wrap{
		width: 90% !important;
		margin: 0 auto !important;
	}
	.container1 {
	    padding: 5vw !important;
	    margin-top: 5px !important;
	    border-radius: 10px !important;
	}
	.container2{
		margin-bottom: 20px !important;
	}
	.container1 .container2{
		float: none !important;
		text-align: center !important;
	}
	.titleBox{
		width: 100% !important;
		font-size: 5vw !important;
	}
	.top-Box{
		font-size: 5vw !important;
		margin-bottom: 0 !important;
	}
	.partner_wrap .container1 .profile-hr{
		width: 100% !important; 
		border: solid 1px #cccccc !important;
	}
	.ContentsBox1{
		width: 100% !important;
	}
	.ContentsBox2{
		width: 100% !important;
	}
	.profileImgBox{
		float: none !important;
	}	
	.profileImg{
		margin-right: 0 !important;
		width: 30vw !important;
    	height: auto !important;
	}
	.infoBox1{
		width: 100% !important;
		margin-top: 10px !important;
	}
	.intro{
		text-align: center !important;
		font-size: 5vw !important;
		margin-top: 10px !important;
		margin-bottom: 0 !important;
	}
	.btnBox{
		float: none !important;
		width: 100% !important;
		margin-top: 0 !important;
	}
	.scrap{
		width: 15vw !important;
	}
	.match {
    	width: 30vw !important;
	}
	.infoBox2{
		width: 100% !important;
	}
	.infoBox2 .textBox2, .infoBox2 .textBox2 span{
		font-size: 3vw !important;
	}
	.infoBox2 .textBox2 span{
		margin-right: 10px !important;
	}
	.infoBox .textRow, .textBox2{
		font-size: 3vw !important;
	}
	.detailBox1, .detailBox2{
		width: 100% !important;
	}
	.detailBox2{
		margin-bottom: 40px !important;
	}
	.infoBox{
		width: 23.5% !important;
		vertical-align: text-bottom;
	}
	.detailBox3{
		font-size: 4vw !important;
	}
	.ContentsBox1 {
		font-size: 3vw !important;
		margin-top: 10px;
	}
	.infoBox2 .textBox2 span:nth-child(1){
		margin-left: 10px !important;
	}
	.ContentsBox2 .projectDate{
		font-size: 2.5vw !important;
		padding: 0 20px 5px 0 !important;
		width: auto !important;
	}
	.ContentsBox3{
		font-size: 3vw !important;
		margin-bottom: 10px;
	}
	.ContentsBox2 .project{
		font-size: 2.5vw !important;
		vertical-align: text-top;
		width: 70% !important;
	}
}

/* 테블릿 세로 */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.container1{
		width: 100% !important;
	}
	.m-detail{
		display: none !important;
	}	
}

/* 테블릿 가로 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.container1{
		width: 100% !important;
	}
	.m-detail{
		display: none !important;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
	.container1{
		width: 100% !important;
	}
	.m-detail{
		display: none !important;
	}	
}