@charset "UTF-8";

.m-detail{
	display: none;
}
.partner_bnr2 {
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
}
.top-Box{
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
  margin-bottom: 10px;
}
.top-Box2{
	width: 100%;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: left;
	color: #858585;
}
.partner_bnr3 hr{
  height: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  border: solid 2px #ff570e;
}
.container1{
	width: 1280px;
	margin: 0 auto;
	border: solid 1px #cccccc;
	display: inline-block;
	padding: 60px 90px;
	margin-bottom: 170px;
	border-radius: 20px;
	background-color: #ffffff;
}
.container2{
	margin-bottom: 58px;
}
.container1 .container2{
	margin: 0;
	height: fit-content;
    float: left;
    margin-bottom: 60px;
}
.leftBox{
	float: left;
}
.rightBox{
	float: right;
	margin: 15px 15px;
}
.row1{
	height: 50px;
	width: 97%;
	margin-left: 0;
	margin-right: 0;
}
.row2{
	margin-left: 0;
	margin-right: 0;
}
.profileImgBox{
	display: inline-block;
	float: left;
}
.profileImg{
  width: 160px;
  height: 160px;
  object-fit: contain;
  border-radius: 70%;
  margin-right: 30px;
}
.infoBox1{
	width: 718px;
	margin-bottom: 20px;
	display: inline-block;
}
.infoBox2 .textBox2{
	display: block;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: left;
	color: #858585;
	margin-bottom: 10px;
	margin-top: 0;
}
.infoBox2 .textBox2 span{
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: left;
	color: #838383;
}
.hashtag{
  height: 28px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px;
  border-radius: 5px;
  background-color: #fff9ec;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ff9900; 
  display: inline-block;
}
.intro{
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
}
.channelBox{
	display: inline-block;
	height: 40px;
	padding: 8px 15px;
	border-radius: 5px;
	border: solid 1px #d9d9d9;
	background-color: #ffffff;
	margin-left: 20px;
}
.auth-container{
	display: inline-block;
	height: 40px;
	width: 390px;
	padding: 8px 15px;
	border-radius: 5px;
	border: solid 1px #d9d9d9;
	background-color: #ffffff;
	margin-left: 20px;
}
.authBox{
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #858585;
  margin: 0 4px;
}
.authImg{
	width: 14px;
	height: 14px;
	margin-top: -3px;
	margin-left: -1px;
}
.match{
  width: 300px;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ff9164;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}
.share{
  width: 300px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #cccccc;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #484848;
}
.applyImg{
  width: 22px;
  height: 22px;
  margin-top: -3px;
  object-fit: contain;
  margin-right: 5px;
}
.shareImg{
  width: 22px;
  height: 22px;
  margin-top: -3px;
  object-fit: contain;
  margin-right: 5px;
}
.star{
  width: 11.6px;
  height: 11.1px;
  object-fit: contain;
  margin-top: -3px;
}
.scrap{
  width: 199px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #fe5413;
  background-color: #ffffff;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ff540f;
}
.btnBox{
	float: right;
    width: 300px;
    margin-top: -51px;
    text-align: center;
}
.detailBox1{
  display: inline-block;
  width: 100%;
  background-color: #fff9f2;
  border-top: solid 2px #d9d9d9;
}
.detailBox2{
  display: inline-block;
  width: 100%;
  border-bottom: solid 2px #d9d9d9;
  background-color: #fffdf9;
  margin-bottom: 80px;
}
.infoBox{
  text-align: center;
  width: 24.5%;
  display: inline-block;
  position:relative;
}
.infoBox:before, .infoBox2:before{
	position: absolute;
    left: 0;
    top: 24.5px;
    content: "";
    width: 1px;
	height: 35px;
    overflow: hidden;
    display: block;
    background: #cccccc;
}
.detailBox1 .infoBox:first-child:before, .detailBox2 .infoBox:first-child:before{
	display: none;
}
.textBox2{
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #838383;
  margin-top: 20px;
  margin-bottom: 10px;
}
.infoBox .textRow span{
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #484848;
}
.infoBox2{
    display: inline-block;
    text-align: left;
    width: 600px;
}
.detailBox3{
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #ff550f;
}
.profile-hr{
  height: 0;
  margin: 15px 0 10px;
  border: solid 1px #cccccc;
}
.ContentsBox1{
  display: inline-flex;	
  width: 1160px;
  margin-bottom: 80px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
    /* 줄바꿈 */
  overflow: hidden;
  word-break: break-all;
  white-space: pre-line;
}
.ContentsBox2{
  margin-bottom: 80px;
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
}
.ContentsBox3{
  display: inline-flex;
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
    /* 줄바꿈 */
  overflow: hidden;
  word-break: break-all;
  white-space: pre-line;
}
.ContentsBox2 .projectDate{
	display: inline-block;
    width: 95px;
    height: fit-content;
    padding: 0 0 5px 0;
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #484848;
    vertical-align: top;
}
.ContentsBox2 .project{
  width: 995px;
  display: inline-block;
  padding: 0 0 5px 15px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
  border-left: solid 0.5px #cccccc;
}
.tagBox{
	width: 520px;
    vertical-align: top;
    display: inline-block;
    margin-left: 20px;	
}
input[type="radio"] {
	display: initial !important;
}