@charset "UTF-8";

.pageBox{
	margin-top: 50px;
	margin-bottom: 49px;
}
.titleBox{
  width: 100%;
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}
.searchBox{
	width: 100%;
}
.search-letfBox{
	float: left;
    padding-top: 10px;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: left;
	color: #858585;
}
.search-rightBox{
	float: right;
}
.search-btn{
  width: 65px;
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #ff540f;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ff540f;
}
.sort-check{
	width: 12px;
	height: 12px;	
	margin-right: 3px;
}
.input_group{
	display: inline-block;
	width: 320px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #cccccc;
	background-color: #ffffff;
    vertical-align: top;
}
.search-rightBox .input-text{
	width: 100%;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #484848;
	border-radius: 5px;
}
.left-container{
    width: 260px;
    margin-right: 20px;
    float: left;
    display: inline-block;
}
.textBox1{
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #484848;
  margin-bottom: 20px;
}
.contents-container{
	display: inline-block;
	width: 1000px;
    min-height: 1000px;
}
.contentsBox{
	width: 100%;
    padding: 20px 30px;
    border-radius: 5px;
    border: solid 1px #d9d9d9;
    background-color: #ffffff;	
}
.countAll{
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
  margin-bottom: 12px;
}
.countAll span{
  color: #ff540f;
  font-weight: 800;
}
.leftBox{
	float: left;
}
.rightBox{
	float: right;
}
.sortBox{
  width: 100%;
  height: 30px;
  margin: 12px 0 0;
  padding: 4px 0 4px 10px;
  border-radius: 5px;
  background-color: #f7f7f7;	
}
a.sort{
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  margin-right: 15px;
  color: #484848;
}
a.sort.select{
	color: #ff540f;
}
.partner_bnr3 hr{
  width: 1275px;
  height: 0;
  margin: 15px 0;
  border: solid 2px #ff540f;
}
.contents{
  min-height: 206px;
  width: 100%;
  margin: 15px 0 15px 0;
  padding: 22px 30px 20px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
}
.contents .leftBox{
    float: left;
    margin: 0;
    height: auto;
    width: 661px;
    margin-top: 10px;
}
.contents .rightBox{
    float: right;
    margin: 0;
    height: auto;
    width: 265px;
    text-align: right;
}
.project-titleBox{
  width: 500px;
  object-fit: contain;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
  margin-bottom: 15px;
  margin-top: 15px;
  /* 말줄임 표시 */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}
.project-detailBox{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #484848;
  margin-bottom: 15px;
  /* 말줄임 표시 */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}
.regDate{
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: right;
  color: #858585;
  margin-bottom: 11px;
}
.regDate span{
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: right;
  color: #858585;
  margin-right: 11px;
}
.infoBox {
  width: 130px;
  height: 30px;
  margin-bottom: 5px;
  padding: 3px 10px;
  border-radius: 5px;
  border: solid 1px #cccccc;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #858585;
  float: left;
}
.infoBox:first-child{
    margin-right: 5px;
}
.infoBox span{
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: right;
  color: #484848;
  float: right;
  margin-top: 2px;
}
.infoBox2{
  width: 130px;
  height: 30px;
  margin-bottom: 5px;
  padding: 3px 10px;
  border-radius: 5px;
  border: solid 1px #cccccc;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #858585;
  float: left;
}
.infoBox2:first-child{
    margin-right: 5px;
}
.infoBox2 span{
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  float: right;
  margin-top: 2px;
  color: #484848;
}
.infoBox3{
	width: 265px;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #cccccc;
    text-align: left;
}
.sFindBox{
	display: inline-block;
	min-width: 75px;
	padding: 2px 0;
	border-radius: 5px;
	background-color: #988dfe;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: center;
	color: #ffffff;
}
.pFindBox{
	display: inline-block;
	min-width: 75px;
	padding: 2px 0;
	border-radius: 5px;
	background-color: #90c28c;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: center;
	color: #ffffff;
}
.left-infoBox{
	display: inline-block;
	width: 500px;
}
.areaBox{
  display: inline-block;
  width: 90px;
  height: 26px;
  padding: 4px 0 5px;
  border-radius: 5px;
  border: solid 0.5px #ff0000;
  background-color: #ffffff;
}
.proj-link{
	cursor: pointer;
}
.proj-link:hover{
    border: 1px solid #ff540f;
}
.proj-link:hover .tagBox{
  background-color: #fff9ec;
  color: #ff9900;
}
.proj-link:hover .project-titleBox{
  color: #ff540f;	
}
.D-day{
	display: inline-block;
	min-width: 75px;
	padding: 2px 0;
	border-radius: 5px;
	background-color: #d098f1;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	text-align: center;
	color: #ffffff;
}
.left-infoBox2{
	width: 110%;
}
.tagBox{
  width: fit-content;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #ececec;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #858585;
  margin-bottom: 7px;
  margin-right: 5px;
}
.partner_list input[name="projSort"] + label span{
  width: 90px;
  height: 26px;
  padding: 2px 0 5px;
  border-radius: 5px;
  border: solid 1px #cccccc;	
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #484848;
  margin: 0 3px;
  background-image: none;
}
.partner_list input[name="projSort"]:checked + label span{
  width: 90px;
  height: 26px;
  padding: 2px 0 5px;
  border-radius: 5px;
  border: solid 1px #ff540f;	
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ff540f;
  margin: 0 3px;
  background-image: none; 
}
.partner_list input[name="projSort"]#projSort-pp:checked + label span{
  width: 90px;
  height: 26px;
  padding: 2px 0 5px;
  border-radius: 5px;
  border: solid 1px #6f5aff;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #6f5aff;
  margin: 0 3px;
  background-image: none; 
}
.partner_list{
	display: inline-block;
    width: 100%;
	padding: 20px 30px;
	border-radius: 5px;
	border: solid 1px #cccccc;
	background-color: #ffffff;
	margin-bottom: 15px;
	text-align: center;
}
.partner_list span{
    font-size: 15px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
    width: 100%;
    display: block;
    cursor: pointer;
}
.partner_list ul{
	display: none;
}
.partner_list ul li{
	margin-top: 3px;
}
.authContainer{
	width: 121px;
    display: table-cell;
    height: 40px;
    vertical-align: top;
}
.authContainer:first-child{
	border-right: 1px solid #cccccc;
	padding-right: 9px;
}
.authContainer:last-child{
	padding-left: 9px;
}
.sortBox{
  width: 100%;
  height: 30px;
  padding: 4px 0 4px 10px;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.authBox{
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #858585;
}
.authImg{
  width: 14px;
  height: 14px;
  margin-top: 3px;
  object-fit: contain;
  float: right;
}
.photoBox{
  width: 140px;
  height: 140px;
  margin: 0 20px 0 0;
  border-radius: 10px;
  object-fit: contain;
  float: left;
}
#list-container{
	min-height: 1000px;
	margin-top: 15px;
}
.m-check_list_box{
	margin-bottom: 16px;
	cursor: pointer;
}
.partner_list:first-child .check_list_box{
	display: block;
}
.check_list_box{
	display: none;
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-left: 11px;
}
div.partner_list > div:nth-child(1) > ul, div.partner_list > div:nth-child(2) > ul, div.partner_list > div:nth-child(3) > ul{
	display: block;
}
.emptyResult{
	text-align: center;
    height: 500px;
    padding: 240px;
    font-size: 24px;
}
a.sort:last-child{
	margin-right: 0;
}
.filter-box{
	display: none;
	width: 90%;
	border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: 5vw;
    margin-top: 10px
}
.filter{
	width: 100%;
	display: flex;
	border-radius: 10px;
}
.filter:nth-child(1), .filter:nth-child(2){
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.filter-box ul {
    display: none;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 15px 10px;
    border-top: 1px solid #ccc;
}
.m-contentsBox{
	display: none;
	width: 100%;
}
.find-box{
	display: none;
    width: 100%;
    display: inline-block;
    position: fixed;
    background-color: #fff;
}
.m-infoBox{
	float: right;
}
.m-infoBox2{
	padding: 17px 10px 17px 10px !important;
}
.m-find{
	display: none;
}
.authImg{
	width: 15px;
}
.upImg{
    background-repeat: no-repeat;
    background-size: 12px;
    background-image: url(/assets/img/up_btn.png);
    background-position-x: 185px;
    background-position-y: center;
}
.downImg{
    background-repeat: no-repeat;
    background-size: 12px;
    background-image: url(/assets/img/down_btn.png);
    background-position-x: 185px;
    background-position-y: center;
}
/*--------------------------------------*/
/* 모바일 */
@media screen and (max-width: 767px){
	.w-find{
		display: none !important;
	}
	.m-find{
		display: block !important;
	}
	.partner_bnr .partner_wrap{
		width: 90% !important;
	}
	.contents-container{
		padding: 0 !important;
		width: 95% !important;
		margin: 0 auto;
	}
	.left-container{
		display: none !important;
	}
	header .header_wrap h1{
		display: none !important;
	}
	.searchBox  {
		display: none !important;
	}
	.search-letfBox{
		display: none !important;
	}
	#m-search_frm {
		display: inline-block !important;
    	padding: 3vh 0 !important;
    	margin-left: 5vw !important;
	}
	.filter-box{
		display: inline-block !important;
	}
	.m-check_list_box{
	    width: 33.333333% !important;
	    text-align: center !important;
	    padding: 15px 0 !important;
	    margin-bottom: 0 !important;
        overflow-x: hidden;
   		overflow-y: auto;
   		background-color: #fff;
   		border-radius: 10px;
	}
	.m-check_list_box span{
		vertical-align: middle;
		font-weight: 800 !important;
	}
	.partner_bnr3{
		padding-top: 250px !important;
	}
	.titleBox{
		letter-spacing: -0.2vw !important;
		font-size: 5vw !important;
		float: none;
	}
	.input_group{
		width: 70vw !important;
		vertical-align: top !important;
	}
	.countAll{
		font-size: 3vw !important;
	}
	.contentsBox{
		display: none !important; 
	}
	a.sort{
		font-size: 2.7vw !important;
		margin-right: 1vw !important;
	}
	a.sort img{
		width: 3vw !important;
	}
	.rightBox{
		display: inline-flex;	
	}
	.m-contentsBox{
		display: block !important;
	    padding: 0 5vw;
	    margin: 10px 0;
	}
	.find-box{
		display: block !important;
	}
	
	#m-search_frm .input_group input, #search_frm .input_group input{
		font-size: 3vw !important;
	}
	
	.contents{
		padding: 15px !important;
	}
	
	.D-day{
		width: 15vw !important;
		font-size: 3vw !important;
	}
	.pFindBox, .sFindBox{
		width: 20vw !important;
		font-size: 3vw !important;
		padding: 3px 0 !important;
	}	
	.contents .leftBox{
		width: 100% !important;
	}
	.regDate, .regDate span{
		font-size: 3vw !important;
		display: inline-block !important;
	}
	.regDate{
		float: right;
	}
	.photoBox{
		width: 25vw !important;
		height: auto !important;
		margin: 0 10px 10px 0 !important;
	}
	.project-titleBox{
		font-size: 4vw !important;
		display: inline-block !important;
		margin: 10px 0;
		height: 11vw !important;
	}
	.project-detailBox{
		font-size: 3vw !important;
		height: 8.5vw !important;
		margin-bottom: 10px !important;
	}
	.infoBox{
		font-size: 3.5vw !important;
		width: 26vw;
	}
	.infoBox span{
		font-size: 3.5vw !important;
		width: 26vw;
	}
	.infoBox:first-child{
		margin-right: 0 !important;
	}
	.infoBox2 {
		width: 53.3vw !important;
		font-size: 3.5vw !important;
		float: right;
		text-align: center !important;
	}
	.infoBox2 span{
		font-size: 3.5vw !important;
	}
	.infoBox3{
		float: right;
		width: 100% !important;
		height: auto !important;
		padding: 1vw 1vw 1.5vw 1vw !important;
		text-align: center;
	}
	.authBox{
		font-size: 3vw !important;
		margin: 0 !important;
		margin-right: 0 !important;
	}
	.authImg{
		margin-top: -2px;
   		width: 3.5vw !important;
	}
	.left-infoBox2{
		width: 100% !important;
	}
	.tagBox{
		font-size: 3.5vw !important;
		padding: 1.5vw 1.5vw !important;
		height: 7vw !important;	
		margin-right: 5px !important;
		margin-bottom: 5px !important;
	}
}

/* 테블릿 세로 */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.partner_bnr .partner_wrap{
		width: 90% !important;
	}
	.contents-container{
		padding: 0 !important;
		width: 95% !important;
		margin: 0 auto;
	}	
	.left-container{
		display: none !important;
	}
	.search-letfBox{
		display: none !important;
	}
	.titleBox{
		float: left;
		width: auto !important;
	}
}

/* 테블릿 가로 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.partner_bnr .partner_wrap{
		width: 90% !important;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
	.partner_bnr .partner_wrap{
		width: 90% !important;
	}
}