@charset "UTF-8";

.partner_bnr {
    width: 100%;
    padding-top: 180px;
    padding-bottom: 100px;
}
.partner_bnr2 {
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
}
.check{
  width: 300px;
  height: 80px;
  margin: 30px 20px 150px 20px;
  padding: 25.5px 0;
  border-radius: 10px;
  background-image: linear-gradient(to right, #d90b54, #3b1374);
}
.default-check{
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;    
  width: 300px;
  height: 80px;
  margin: 30px 20px 150px 20px;
  padding: 25.5px 0;
  border-radius: 10px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
}
.none-check{
	background-color: #e3e3e3;
	width: 300px;
	height: 80px;
	margin: 30px 20px 150px 20px;
	padding: 25.5px 0;
	border-radius: 10px;
}
.addBtn {
	background-color: #E52867;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 30px 0;
}
a {
	text-decoration: none;
	color: black;
}
.partner_bnr .partner_wrap h2 {
    font-size: 30px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}
.partner_bnr .partner_wrap {
    width: 1280px;
    margin: 40px auto;
    text-align: center;
}
.projectBox{
	display: inline-block;
}
.projTable{
	border: 2px solid #ccc;
	width: 700px;
    height: 700px;
}
.projTable td{
	border: 2px solid #ccc;
    text-align: left;
}
.inputForm{
	width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.width-70{
	width: 70%;
	float: left;
}
.width-30{
	width: 30%;
	display: inline-block;
}
.row1{
	display: inline-block;
}
/* 필수항목 표시를 위한 `*` */
.identify {
	font-size: 14px;
	color: #f00;
}

/* 에러 메시지에 대한 글자 색상 */
.error {
	color: red;
}

/* 에러가 발생한 <input>태그 */
input.error {
	
}
/* 에러메시지가 표시중인 <label> 태그 */
label.error {
	font-size: 10px;
	color: red;
	display: inline-block;
	padding: 5px 10px;
	margin: 0;
}
.jFiler-input-dragDrop {
    width: 100%;
    background-color: #fafafa;
}
.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
	height: 300px;
}
.fileLable{
	position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 100px;
    height: 30px;
    background: #1abc9c;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-top: 2px;
    border-radius: 5px;
    margin-left: 10px;
}
.formControl{
	width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    display: inline-block;
    background-color: #e3e3e3;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.formControl input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
.formControl input[type=text] {
	vertical-align:middle;
	display:inline-block;
	width:400px;
	height:28px;
	line-height:28px;
	font-size:11px;
	padding:0;
	border:0;
	border:1px solid #777;
	padding-left: 10px;
}
.joinForm {
	border: 2px solid #ccc;
	border-radius: 10px;
	width: 700px;
    text-align: left;
    display: inline-block;
    padding: 50px;
    padding-top: 0;
}
.resultBox{
	text-align: left;
	padding: 50px 0;
}

.resultBox .resultText span{
	color: blue;
}
.colForm-label{
	width: 122px;
	padding-right: 0;
}
.join-btn:disabled{
	background-color: #D9D9D9;
}
.join-btn{
    display: inline-block;
    width: 300px;
    height: 40px;
    color: white;
    background-color: #595959;
    margin-bottom: 0;
    margin-top: 30px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.Agreement {
	color: #A6A6A6;
}
.r-span{
	color: red;
}
.s-span{
	color: blue;
}
.Agreement-box{
	border-top: 1px solid #aaa;
	padding: 10px;
	margin-top: 10px;
}
.Agreement-container{
	margin-left: 125px;
    margin-right: 38px;
}
.Agreement-box textarea{
	width: 100%;
    height: 100px;
    padding: 15px;
    font-size: 10px;
    color: #aaa;
    border: 1px solid #e3e3e3;
    margin: 10px 0;
}
/* checkbox */
input[type="checkbox"].findCheck + label span {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-left: 20px;
  margin: 0;
  height: auto;
  background:url(../assets/img/checkActiveNone20.png) no-repeat;
  background-position-y: center;
}
input[type="checkbox"].findCheck:checked + label span {
    background:url(../assets/img/checkActive20.png) no-repeat;
    color: #ffffff;
    background-position-y: center;
}