@charset "UTF-8";

.partner_bnr {
    width: 100%;
    padding-bottom: 51px;
}
.partner_bnr2 {
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: black;
}
.partner_bnr .partner_wrap h2 {
    font-size: 30px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 12px;
}
.partner_bnr .partner_wrap {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    margin-top: 77px;
}
.partner_bnr .partner_wrap2 {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.width-70{
	width: 70%;
	float: left;
}
.width-30{
	width: 30%;
	display: inline-block;
}
.row1{
	display: inline-block;
}
.joinBox {
	width: 470px;
	height: 50px;
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
	border: solid 1px #e3e3e3;
	background-color: #ff540f;
	padding: 15px;
}
.joinBox a {
	
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin-left: 10px;
}
.joinBox img{
    margin-top: -5px;
}
.joinBox img.mail{
    top: -4px;
    right: -2px;
}
.joinBox.naver {
	background-color: #33c75f;
}
.joinBox.kakao {
	background-color: #ffdd56;
}
.joinBox.kakao a {
	color: #744d00 !important;
}
.joinBox.google {
	border: solid 1px #d6d6d6;
	background-color: #ffffff;
}
.joinBox.google a{
color: #484848 !important;
}
.textbox1 {
	margin: 4.5px 0 15px 0;
	height: 27px;
	margin: 20px 46px 15px;
	
	font-size: 25px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.08;
	letter-spacing: normal;
	text-align: center;
	color: #484848;}
.textbox2 {
	height: 16px;
	font-size: 16px;
	
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: normal;
	text-align: center;
	color: #707070;}
.partner_bnr .partner_wrap .partner_wrap2 h2 {
	height: 27px;
	
	font-size: 25px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.08;
	letter-spacing: normal;
	text-align: center;
	color: #484848;
}
.csCenter{
  margin-top: 20px;
  font-family: NotoSansKRRegular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8b8b8b;
}
.hr001{
    display: inline-block;
    width: 500px !important;
    height: 0 !important;
    margin: 23px 0 0 0.5px !important;
    border: solid 1px #cccccc !important;
    text-align: center;
}
.join-logo{
  width: 295.5px;
  height: 60px;
  object-fit: contain;
}

.joinMainSub   {
	display: -webkit-box;
	padding: 200px 0 0 0;
	margin-left: 100px;
	margin-bottom: 168px;
}
.joinMainSub2 {
	margin-left: 100px;
}