@charset "UTF-8";

.main-0000{
	background-color: #fff;
    background-position-x: center;
    height: 700px;
}
.main-000{
    font-family: NotoSansKRBold;
    font-size: 1em;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    font-weight: bolder;
    letter-spacing: -4px;
    text-align: left;
    color: #000000;
    height: 643px;
    margin: 0 auto;
    margin-top: 77px !important;
    width: 1080px;
    position: relative;
}
.main-001{
    display: inline-block;
    margin-top: 110px;
	width: 625px;
    height: 194px;
    font-size: 3.93em;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: -0.22px;
    text-align: left;
    color: #ffffff;
}
.main-002{
    display: block;
    margin-top: 25px;
    margin-bottom: 44px;
	width: 100%;
	height: 83px;
	font-size: 1.429em;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: -0.08px;
	text-align: left;
	color: #ffffff;
}
.main-001 span{
	font-weight: 800;
}
.main-img1{
    width: 422px;
    height: 352px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
	top: 155px;
    left: 59.5%;
}
.findBtn{
  display: inline-block;
  height: 60px;
  padding: 18px 20px 19px;
  border-radius: 4px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(104deg, #ff8000, #ff540f);
  font-size: 1.429em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-right: 15px;
}
.shareBtn{
  display: inline-block;
  width: 240px;
  height: 60px;
  padding: 18px 0 19px;
  border-radius: 4px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #fe5413;
  background-color: #ffffff;
  font-size: 1.429em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ff540f;
}
.newsLetterBtn {
	width: 413px;
	height: 60px;
	padding: 18px 0 20px;
	border-radius: 4px;
	box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
	border: solid 0.5px #fe5413;
	background-color: #ffffff;
	width: 413px;
	font-size: 20px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ff540f;
	display: block;
	margin-top: 20px;
}

.main-003{
    display: inline-block;
    font-size: 50px;
    font-stretch: normal;
    font-weight: 800;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.3px;
    text-align: center;
    width: 100%;
    color: #343434;
    float: left;
    margin-top: 120px;
    margin-bottom: 122px;
}
.main-004{
	display: block;
    margin-bottom: 102px;
    margin-top: 174px;
}
.main-005{
  margin-top: 10px;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: #343434;
}
.main-005 span{
  font-weight: 800;
}
.main-0003{
    display: block;
    width: 100%;
    height: 1280px;
    margin-bottom: 200px;
    background-color: #fff6f2;
}
.main-0004{
    display: block;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.main-img2{
	width: 450px;
	height: 211px;
	object-fit: contain;
	margin: auto;
}
.main-0001{
  width: 1280px;
  margin: 0 auto;
}
.main-003 .orange-text{
  color: #ff540f;
}
.mainBox .boxSpan{
  margin: 0 5px 226px 0;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ff540f;
  vertical-align: top;
}
.mainBox1{
	display: inline-block;
    margin-bottom: 140px;
    float: left;
    margin-left: 104px;
}
.mainBox2{
	display: inline-block;
	margin: 79px 0 61px 78px;
}
.mainBox3{
	display: inline-block;
    float: left;
    margin-left: 104px;
}
.mainBox4{
	display: inline-block;
	margin: 79px 0 140px 78px;
}
.mainBox:hover .boxSpan{
	  font-size: 40px;
	  font-weight: 800;
	  font-stretch: normal;
	  font-style: normal;
	  letter-spacing: -0.4px;
	  text-align: left;
	  color: #ff540f;
	  vertical-align: top;
}
.mainBox:hover .boxText{
	  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.16);
	  border: solid 1px #ffb597;
}
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.boxText{
  display: inline-block;
  width: 450px;
  height: 200px;
  padding: 44px 0 43px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #cccccc;
  background-color: #ffffff;
  text-align: center;
}
.boxText2 {
	display: inline-block;
    font-size: 1em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.15px;
    color: #707070;
    text-align: left;
    width: fit-content;
    padding-top: 7px;
}

.boxText2 span{
  margin-bottom: 15px;
  font-family: NanumGothic;
  font-size: 1.8em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.24px;
  text-align: left;
  color: #343434;
}
.textBox0{
	width: 100%;
    margin-bottom: 100px;
}
.textBox1{
  width: 100%;
  height: 118px;
  font-size: 3.571em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.5px;
  text-align: center;
  color: #343434;
  text-align: center;
  margin-bottom: 100px;
}
.tableBox{
	width: fit-content;
    border-radius: 20px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    margin: 0 130px;
    margin-bottom: 200px;
}
.table-row:nth-child(odd){
  width: 100%;
  background-color: #fff4ef;
}
.table-title-row{
  width: 100%;
  padding: 20px 0 20px;
  background-color: #ff540f;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.table-col1{
  display:inline-block;
  width: 320px;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #343434;
  padding: 20px 0 19px 0;
  margin-left: -2px;
}
.table-col2{
  display:inline-block;
  width: 350px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #343434;
  padding: 20px 0 19px 0;
  margin-left: -7px;
  border-left: 2px solid #ff540f;
  border-right: 2px solid #ff540f;
}
.table-row:last-child .table-col2{
  border-bottom: 2px solid #ff540f !important;
}
.table-row:last-child .table-col1{
  border-bottom-left-radius: 20px;
}
.table-row:last-child .table-col3{
  border-bottom-right-radius: 20px;
}
.table-col3{
  display:inline-block;
  width: 350px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #343434;
  padding: 20px 0 19px 0;
  margin-left: -7px;
}
.title-col1{
  display:inline-block;
  width: 320px;
  text-align: center;
}
.title-col2{
  display:inline-block;
  width: 350px;
  margin-left: -10px;
  text-align: center;
}
.title-col3{
  display:inline-block;
  width: 350px;
  margin-left: -10px;
  text-align: center;
}
.X{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -0.1px;
  color: #ff0000;
}
.O{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -0.1px;
  color: #0800ff;
}
.upImg{
    position: relative;
    top: 470%;
    left: 49%;
}
.downImg{
    position: relative;
    top: 510%;
    left: 46.3%;
}
.textBox3{
  width: 100%;
  font-size: 50px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #343434;
  line-height: 1.2;
  margin-bottom: 110px;
  margin-top: 156px;
}
.spBox{
  display: inline-block;
  width: 500px;
  height: 693px;
  margin-right: 60px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #cccccc;
  background-color: #ffffff;
}
.memBox{
  display: inline-block;
  width: 500px;
  height: 900px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #cccccc;
  background-color: #ffffff;
}
.memBox:hover .main_img4{
	background-image: url(/assets/img/도형1.png) !important;
}
.main-img3{
	background-image: url(/assets/img/down.png);
}
.memBox:hover .main-img3{
	background-image: url(/assets/img/down.png) !important;
}
.memBox:hover .textBox4 span{
  font-size: 25px !important;
  font-weight: 800 !important;
  color: #ff540f !important;
}

.textBox4{
  height: 508px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #343434;
  margin-top: -30px;
}
.memBox .textBox4 span{
  font-size: 25px;
  font-weight: 800;
  color: #ff540f;
  display: inline-block;
  margin-bottom: 10px;
}
.spBox .textBox4 span{
  font-size: 25px;
  font-weight: 800;
  color: #ff540f;
  display: inline-block;
  margin-bottom: 10px;
}
.main-006{
    display: inline-flex;
    margin-bottom: 200px;
}
.main_img5{
    position: relative;
    top: -74px;
    left: 81px;
    width: 310px;
    height: 113px;
    padding: 59px 77px 46px 113px;
    object-fit: contain;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.main_img4{
    position: relative;
    top: -74px;
    left: 81px;
    width: 310px;
    height: 113px;
    padding: 59px 77px 46px 113px;
    object-fit: contain;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    background-image: url(/assets/img/도형1.png);
}
.main-0005{
  width: 100%;
  /* height: 1080px; */
  height:100%;
  text-align: center;
  background-color: #fff6f2;
}
.img3{
	margin-top: 326px;
	margin-bottom: 30px;
}
.textBox5{
  height: 123px;
  margin: 30px 0 50px;
  font-family: NanumGothic;
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}
.textBox5 span{
  font-weight: 800;
}
.nowBtn{
  width: 240px;
  height: 60px;
  padding: 18px 0 19px;
  border-radius: 4px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(104deg, #ff8000, #ff540f);
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 326px;
}
.main-img3{
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.textBox6{
	width: 317px;
    margin: 0 auto;
    font-size: 15px;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.space{
	margin-left: 19.9px;
}
.img4{
  width: 437px;
  height: 136px;
  margin: 200px 0 30px 0;
  object-fit: contain;
}
.textBox7{
	width: 100%;
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: #343434;
    margin: 0 auto;
    margin-bottom: 100px;
}
.FAQ{
  display: block;
  width: 760px;
  margin: 0 auto;
  margin-bottom: 200px;
  border-radius: 20px;
  border: solid 1px #cccccc;
  text-align: left;
}
.img5{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 30px;
  object-fit: contain;
  display: inline-block;
}
.FAQBox{
	width: 100%;
    padding: 25px 0;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.18px;
    text-align: left;
    color: #343434;
    border-bottom: solid 1px #cccccc;
}
.FAQBox span{
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.18px;
    text-align: left;
    color: #343434;
    vertical-align: text-bottom;
}
.FAQBox:first-child{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.FAQBox:last-child{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom: none;
} 
.answerBox{
  width: 700px;
  margin: 25px 30px;
  padding: 25px 25px 25px 25px;
  background-color: #fff6f2;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #343434;
  display: none;
}
.answerBox-show{
	display: block;
}
.img5-show{
	background-image: url("/assets/img/bottomArrow2.png") !important;
}
.Qa{
	display: inline-block;
	width: 80%;
}
.border{
	width: 100px;
	height: 100px;
	border: 1px solid #000;
}
.table-img{
	display: none;
}
/* 팝업창 */
.popup{
	display: none;
	position: absolute;
    z-index: 5;
    right: -100px;
    top: 50px;
    border: 1px solid #f3f3f3;
}
.popup2{
	display: none;
	position: absolute;
    z-index: 15;
    right: -60px;
    top: 90px;
    border: 1px solid #f3f3f3;
}
.popup3{
	display: none;
	position: absolute;
    z-index: 25;
    right: -20px;
    top: 130px;
    border: 1px solid #f3f3f3;
}
.popup img{
	width: 450px;
}
.popup2 img{
	width: 500px;
}
.popup3 img{
	width: 450px;
}
.popup-close{
	float: right;
}
.popup-close2{
	float: right;
}
.popup-close3{
	float: right;
}
.popup-btnBox{
	margin-top: 5px;
	margin-bottom: 5px;
}
.popup-btnBox button{
	background-color: transparent;
}