@charset "UTF-8";

.myPage_right {
	width: 100%;
	height: 333px;
	display: contents;
}

.myPage_r_first {
	width: 268px;
	margin-left: 10px;
	float: left;
	height: 333px;
}

.profileBox {
	width: 268px;
	height: 160px;
	border-radius: 5px;
	border: solid 1px #cccccc;
	background-color: #ffffff;
}

.usingMethodBox {
	width: 268px;
	height: 160px;
	margin-top: 10px;
	border-radius: 5px;
	border: solid 1px #cccccc;
	background-color: #ffffff;
}

#profileBox-img {
	margin-top: 20px;
}

.profileExplainBox {
	margin-top: 9px;
}

.profileExplainBoxText {
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #858585;
}

.myPage_r_profileBox {
	width: 126px;
	height: 29px;
	border-radius: 5px;
	border: solid 1px #ff540f;
	background-color: #ffffff;
	cursor: pointer;
	align-content: center;
	margin-left: 71px;
	margin-top: 5px;
	padding-top: 4px;
}

.profileBoxText {
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #858585;
}

#usingMethodBox-img {
	margin-top: 18px;
}

.usingMethodExplainBox {
	margin-top: 5px;
}

.usingExplainBoxText {
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #858585;
	vertical-align: middle;
}

.myPage_r_usingMethodBox {
	width: 126px;
	height: 29px;
	border-radius: 5px;
	border: solid 1px #ff540f;
	background-color: #ffffff;
	cursor: pointer;
	margin-left: 71px;
	margin-top: 5px;
	padding-top: 4px;
}

.usingMethodBoxText {
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #858585;
}

.myPage_r_second {
	width: 554px;
	margin-left: 12px;
	display: inline-block;
}

.myPage_r_third {
	width: 202px;
	height: 331px;
	padding: 49px 0 20px;
	border-radius: 5px;
	border: solid 1px #cccccc;
	background-color: #ffffff;
	margin-left: 12px;
	display: inline-block;
}

#authBox-img {
	width: 106.8px;
	height: 130px;
}

.authExplainBox {
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #858585;
	margin-top: 29px;
}

.myPage_r_authBox {
	width: 80px;
	height: 29px;
	border-radius: 5px;
	border: solid 1px #ff540f;
	background-color: #ffffff;
	margin: 32px 0px 0 58px;
	cursor: pointer;
	padding-top: 4px;
}

.authBoxText {
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #858585;
}

.btnBox {
	margin-top: 9px;
}

.myPageBtn {
	width: 175px;
	height: 53px;
	border-radius: 5px;
	border: solid 1px #cccccc;
	display: inline-block;
	padding-top: 15px;
	cursor: pointer;
	background-color: #ffffff;
}

.useOfTermBtn {
	margin-left: 9px;
}

.privateBtn {
	margin-left: 9px;
}

.myPageBtnText {
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #858585;
}

.scrapImg {
	width: 14px;
	height: 14px;
}

.myContract {
	width: 556px;
	height: 130px;
}

.myAuth {
	width: 556px;
	height: 130px;
	margin-top: 9px;
}

.myContractText {
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: #484848;
	vertical-align: sub;
}

.myContractTextBox {
	padding-left: 18px;
	width: 100%;
	height: 33px;
	text-align: left;
	border-radius: 5px 5px 0 0;
	border: solid 1px #cccccc;
	background-color: #fef1e9;
}

.myContractBox {
	width: 139px;
	height: 97px;
	display: table-cell;
	background-color: #ffffff;
	border: solid 1px #cccccc;
	border-top: 0px;
	border-right: 0px;
	text-align: center;
	padding-top: 19px;
}

.registBox {
	border: solid 1px #cccccc;
	border-radius: 0 0 0 5px;
	border-top: 0px;
	border-right: 0px;
}

.closeBox {
	border: solid 1px #cccccc;
	border-radius: 0 0 5px 0;
	border-top: 0px;
}

.myContractBoxText {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #484848;
}

.myContractCntBox {
	margin-top: 10px;
}

.myContractCount {
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #484848;
}

.auth_img_div {
	margin-top: 8px;
}
.cursor {
	cursor: pointer;
}