@charset "UTF-8";

	ul.my-tabs{
		list-style: none;
		text-align: left;
	}
	ul.my-tabs li{
		background-color: #ffffff;
		color: #222;
		display: inline-block;
		padding: 16px 0 15px;
		margin: 12px 0 0;
		cursor: pointer;
		width: 320px;
		height: 60px;
		background-color: #ffffff;
		font-family: NotoSansKR;
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.45;
		letter-spacing: normal;
		text-align: center;
		color: #000000;
		margin-right: -4px;
		border-top: solid 1px #cccccc;
    	border-bottom: solid 1px #cccccc;
	}
	
	ul.my-tabs li.current{
		background-image: linear-gradient(to right, #d90b54, #8c0f64, #3b1374);
		color: #ffffff;
	}
	.tab-content2{
		display: none;
		text-align: center;
	}
	
	.tab-content2.current{
		display: inherit;
	}
.check{
	background-color: #E52867;
    color: white;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    font-size: 20px;
}
a {
	text-decoration: none;
	color: black;
}
.row1{
	display: inline-block;
}
/* 필수항목 표시를 위한 `*` */
.identify {
	font-size: 14px;
	color: #f00;
}

/* 에러 메시지에 대한 글자 색상 */
.error {
	color: red;
}

/* 에러가 발생한 <input>태그 */
input.error {
	
}
/* 에러메시지가 표시중인 <label> 태그 */
label.error {
	font-size: 10px;
	color: red;
	display: inline-block;
	padding: 5px 10px;
	margin: 0;
}
.jFiler-input-dragDrop {
    width: 100%;
    background-color: #fafafa;
}
.fileLable{
  width: 80px;
  height: 30px;
  padding: 6.5px 0;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}
.addBtn {
	background-color: #E52867;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 30px 0;
}
.my_home{
	margin: 15px 0;
}
.myBox{
	display: inline-block;
	float: left;
	width: 470px;
 	height: 200px;
 	border: 1px solid #cccccc;
}
.myBox .textBox1{
  margin: 50px 0 35px 0;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-right: 50px;
}
.myBox .textBox2{
  margin-bottom: 50px;
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-right: 50px;
}
.myBox2{
  display: inline-block;
  float: right;
  height: 200px;
  background-color: #ffffff;
  text-align: center;
  border: solid 1px #cccccc;
}
.authBox{
  width: 40px;
  height: 40px;
  margin-bottom:13px;
  margin-left: 10px;
  padding: 5px 0 4px;
  border: dotted 1px #707070;
  background-color: #ffffff;
  font-family: SegoeUI;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
  line-height: 1.25;
}
.not-authBox{
  width: 40px;
  height: 40px;
  margin-bottom:13px;
  margin-left: 10px;
  padding: 5px 0 4px;
  border: dotted 1px #ff0000;
  background-color: #ffffff;
  font-family: SegoeUI;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.25;
  color: #ff0000;
}
.myBox2 .myBox2-1{
  display: inline-block;
  width: 260px;
  height: 200px;
  padding: 50px 0;
}
.myBox2 .myBox2-2{
  display: inline-block;
  width: 260px;
  height: 200px;
  padding: 50px 0;
}
.myBox2 .myBox2-3{
  display: inline-block;
  width: 270px;
  height: 200px;
  padding: 50px 0;

}
.myBox2 .textBox1{
  height: 21px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.myBox2 .textBox2{
  height: 44px;
  margin: 35px 0 0;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.myBox3{
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 214px;
}
.myBox3 .textBox1{
  display: inline-block;
  width: 414.9px;
  height: 140px;
  padding: 30px 0 15px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
}
.myBox3 .textBox2{
  display: inline-block;
  width: 414.9px;
  height: 140px;
  padding: 50px 0 15px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
}
.myBox-row{
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.myBox-row2{
  margin: 0 0 29px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.myBox-row3{
	display: inline-block;
	text-align: right;
	width: 100%;
}
.myBox3 button{
	 height: 17px;
	 margin-right: 15px; 
	 font-size: 12px;
	 font-weight: 500;
	 font-stretch: normal;
	 font-style: normal;
	 letter-spacing: normal;
	 text-align: right;
	 color: #000000;
     background-color: #ffffff;
}
.infoContainer{
	display: inline-block;
	text-align: center;
	width: 900px;
}
.infoBox{
	display: inline-block;
	text-align: center;
	width: 900px;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
}
.inputGroup{
    text-align: left;
}
.inputGroup label{
  width: 300px;
  height: 50px;
  padding: 15px 0 14px;
  background-color: #f8f2f9;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  line-height: 1.4;
  margin-bottom: 0;
}
.inputGroup2 label{
	display: inline-block;
	width: auto;
    height: auto;
    background-color: #ffffff;
    padding: 0;
}
.inputForm{
  width: 350px;
  height: 30px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  margin: 6px 0 4px 15px;
  display: inline-block;
}
.inputGroup button{
  width: 100px;
  height: 30px;
  margin: 0 0 0 15px;
  padding: 6.5px 0;
  border-radius: 4px;
  border: solid 1px #cccccc;
  font-family: NotoSansKRMedium;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
  background-color: #ffffff;
}
.editBtn{
  width: 160px;
  height: 40px;
  margin: 19px 0 74px 0;
  border-radius: 4px;
  background-image: linear-gradient(to right, #d90b54, #3b1374);	
  font-family: NotoSansKRMedium;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.editPass{
  width: 10px;
  height: 16.6px;
  object-fit: contain;
  margin-top: -3px;
}
.mypage-title{
	text-align: left;
	margin-top: 80.5px;
	height: 44px;
	font-size: 30px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: normal;
	color: #000000;
}
.myProjBox{
	margin: 25px 0;
}
.myProjBox2{
	display: inline-block;
	height: 60px;
	width: 100%;
	border-right: 1px solid #cccccc;
}
.proj-type{
	display: inline-block;
	width: 256px;
	height: 100px;
	padding: 20px 0;
    margin-right: -4px;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
}
.proj-type .textBox1{
  height: 29px;
  margin: 10px 0 0;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.proj-type .textBox1 button{
	background-color: #ffffff;
}
.p-type{
  height: 21px;
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.myProject-table{
	margin-bottom: 337px;
}
.myProject-table th {
  padding: 10px 0 9px;
  background-color: #f8f2f9;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-top: 25px;
}
.myProject-table td {
  padding: 10px 0 9px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  height: 40px;
}
.myProject-table th:nth-child(1){
  width: 180px;
}
.myProject-table th:nth-child(2){
  width: 100px;
}
.myProject-table th:nth-child(3){
  width: 500px;
}
.myProject-table th:nth-child(4){
  width: 180px;
}
.myProject-table th:nth-child(5){
  width: 180px;
}
.myProject-table th:nth-child(6){
  width: 140px;
}
.myProject-table .project-title{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}
.authImg{
	position: absolute;
    left: 324px;
    top: 620px;
}