.rsv_class {
	padding: 10px 20px;
	width: 500;
	height: 500;
}

.rsv_class h1 {
	text-align: center
}

.refund {
	margin-top: 30px;
}

#rsv_policy {
	margin-top: 20px;
	width: 100%;
	height: 300;
}

#rsv_btn {
    margin-top: 30px;
    text-align: right;
}
.cancel_btn{
	margin-top: 5px;
}